#about_patient {

	
	display:block;
	padding:10px;
	width:710px;
	border: 1px solid #ccc;
	   height: 173px;
	
}

#about_patient img {


	margin: 0 10px 10px 0;
	border: 1px solid #ccc;

}

#about_patient h3 {
    
	font-size: 100%;

}

#about_patient h4 {
    
	font-size:90%;
	font-weight:normal;
	margin-top:-0.5em;


}

#patient_header {
  width: 800px;
}

#patient {
	
}

#patient_description {
	float: left;
	margin-right: 10px;
	padding: 0 10px;
	text-align: center;
	width: 165px;


}

#patient_history {
	float: left;
	width: 490px;
	border: 1px solid #ccc;
   height: 150px;
   padding: 10px;
   border-spacing: 5px;	
   overflow:auto;
   background-color: #efefef;
   font-size: 90%;
  

}

#treatment_feedback {
   float: left;
   width: 350px;
   border: 1px solid #000;
   height: 150px;
   padding: 5px;
   margin:  5px;
   border-spacing: 5px; 
   overflow:auto;
}


#treatment_types {
	float: left;
}

.treatment_type_box {
	float: left;
   width: 175px;
   margin-right: 10px;
   margin-top: 15px;
   margin-bottom: 15px;
}

.treatment_type {
   background-repeat: no-repeat;
   background-position: center center; 
   background-image: url(/activity/virtualpatient/media/images/treatment_choice.jpg);
   border: 1px solid #aaa;
   min-height: 135px;
   padding: 5px 5px 0px 5px;
}

.directions_box {
	float: left;
   margin-right: 15px;
   margin-top: 15px;
   margin-bottom: 15px;
   width: 500px;
}

#available_treatments_box {
   float: left;
   margin-bottom: .5em;
   width: 750px;
}
    
#available_treatments {
	float: left;
	width: 718px;
	height: 85px;
   background-color: #dedede;
   border: 1px solid #ccc;
   padding: 5px;
}

#available_treatments img {
	margin: 0 10px 0 15px;
}

.highlight {
	border: 3px solid #f00;
	display: block;
	height: 40px;
	width: 150px;
	margin: -3px 0 2px;
}

#treatment_reasoning {
   align: left;
   	
}

#blankrx {
   height: 209px;
   background-image: url(/activity/prescription/media/images/blankrx_sm.jpg);
   background-repeat: no-repeat;
   background-position: top left;
   padding: 248px 0 0 50px;
   font-size: 85%;
   width: 330px;
  
   
}

#blankrx form {

margin-left: -155px;

}

.fieldname {

display: block;
text-align: right;
width: 150px;
height: 15px;
float: left;
background-color: #ccc;
margin-top: 5px;
padding-bottom: 2px;
}

#concentration, #dosage {

margin: 5px 5px 0 5px;}

#refill {

margin: 5px 5px 0 23px;
}

#med_inst {

display: block;
margin: 5px 5px 10px 157px;
width: 240px;
font-size: 11px;
height: 26px;
overflow: auto;
border: 1px solid #ccc;
}

#med_inst ul {

list-style-type: none;

}

#med_inst ul li {

line-height:13px;
margin-bottom:3px;

}




