/* Case quizzes */

.cases
{
	margin: 1em 0;
	padding: 0;
	border: 1px solid #999;
}

.casetitle
{
	background-color: #f2e6d8;
	margin: 0;
	padding: 5px 10px;
	border: 0;
	font-weight: bold;
}

.casecontent
{
	margin: 10px;
	padding: 0;
	border: 0;
}

.casequestion
{
	margin: 0;
	padding: 0;
	border: 0;
}

.cases li
{
	margin: 2px 0;
}

.casesanswerdisplay
{
	margin: 0;
	padding: 5px;
	border: 1px solid #999;
	line-height: 18px;
}
