body
{
	width: 920px;
	margin: 0;
	padding: 0;
	border: 0;
	background: url('../img/paper_fibers.png') repeat;
	background-color: #f5f5f5;
	font-family: 'Helvetica Neue' 'Helvetica', sans-serif;
	font-style: normal;

}

/* ########## Standard elements ########## */

h1, h2, h3, h4, h5, h6
{
	margin: 0 0 0.5em 0;
	padding: 0;
	border: 0;
	font-family: 'Montserrat', 'Helvetica', sans-serif;
	font-weight: 400;
}


h5 {
	margin: 0 0 1em 0;
}

h6
{
	font-size: 100%;
}

p
{
	display: block;
	margin: 0.7em 0;
	padding: 0;
	border: 0;
	font-size: 100%;
}

blockquote
{
	display: block;
	margin: 0 4em 0.7em 4em;
	padding: 0;
	border: 0;
	font-size: 100%;
}

table
{
	margin: 0 0 0.7em 0;
	padding: 0;
	border: 1px solid #ccc;
	border-collapse: collapse;
	font-size: 100%;
}

th
{
	border: 1px solid #ccc;
	border-collapse: collapse;
}

td
{
	border: 1px solid #ccc;
	border-collapse: collapse;
}

ol, ul
{
	display: block;
	margin: .25em 0 1.25em 1.5em;
	padding: 0;
	border: 0;
	font-size: 100%;
}


li {
	margin: 0 0.25em .5em .25em;
}

.navbar {
	padding: 0 10px;
}

.navbar.footer {
    margin: 20px 0;
}

ul.nav ul.dropdown-menu-2 li.dropdown-submenu {
    margin: 0 0.25em .5em .25em;
}

li.dropdown-submenu,
.navbar .nav>li {
    margin: 0;
}


.navbar .nav>li>div {
    float: none;
    padding: 10px 15px 10px;
    color: #777;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;
}

.navbar .nav.home>li>a {
    margin: 0;
    padding: 10px 0;
}

.navbar .nav.home img {
    width: 20px;
}

ul.dropdown-menu.dropdown-menu-3.treatment-options {
    width: 450px;
    height: 378px;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 10px;
    -moz-column-gap: 10px;
    column-gap: 10px;
}

ul.dropdown-menu.dropdown-menu-3.virtual-patient {
    height: 340px;
    width: 450px;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 10px;
    -moz-column-gap: 10px;
    column-gap: 10px;
}

.dropdown .dropdown-menu .nav-header {
    padding: 0;
    padding-left: 10px;
}

.nav-header>ul {
    z-index: 1000;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    background-color: #fff;
}

.nav-header>ul>li>a {
    display: block;
    padding: 3px 10px;
    clear: both;
    font-weight: normal;
    line-height: 20px;
    color: #333;
    white-space: nowrap;
}

.dropdown-menu .grayout {
    color: #999;
}

.dropdown-menu>li>span {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 20px;
    color: #999;
    white-space: nowrap;
}

.nav-header>ul>li>span {
    display: block;
    padding: 3px 10px;
    clear: both;
    font-weight: normal;
    line-height: 20px;
    color: #999;
    white-space: nowrap;
}

a {
	color: #00aacb;
}

a:hover
{
	color: #0a6073;
}

a:visited
{
	color: #00aacb;
}

img, img a
{
	border: 0;
}

.breadcrumb {
    margin-bottom: 0;
}

.breadcrumb>li {
    margin: 0;
}

.well.tc {
	background-color: #f0fbfe;
}

/* ########## Globally useful definitions ########## */

/* ---- Block block elements ---------- */
.block
{
	display: block;
	margin: 25px;
	padding: 0;
	border: 0;
}

/* ---- Clearing block ---------- */
.visualclear
{
	display: block;
	clear: both;
	margin: 0;
	padding: 0;
	border: 0;	
}

.visualhide {
	display: none !important;
}

.scrollable {
   overflow:auto;
}

.invisible { display: none; }


/* ########## Blocks style definitions ########## */

#container
{
	width: 987px;
	min-width: 987px;
	margin: 0 auto;
	padding: 0;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-collapse: collapse;
	background-color: #fff;
}

/* ---- Header (Banner) block elements ---------- */
#header
{
	display: block;
	width: 900px;
	height: 100px;
	min-width: 900px;
	margin: 0;
	padding: 0;
	border: 0;
	background-color: #fff;
}


#header h4 {
    height:67px;
    float: right;
}

/* ---- Standard navigation block elements ---------- */
#standardnav
{
	display: block;
	float: right;
	width: 100%;
	background: #00aacb;
}


#standardnav ul {
    margin: 10px 10px 0 0;
    float: right;
    width: 450px;    
}

#standardnav li
{
	display: block;
	float: right;
	border: 0;
	font-size: 0.9em;
}

#standardnav a{
	text-decoration: none;
	color: #fff;
}

#standardnav a:hover {
	color: #00768d;
}

/* ---- Logos ---------- */
#logos {
	clear: both;
	display: block;
	float: left;
	width: 100%;
	margin: 1em 0 0 0;
}

#tc_logo {
	height: 100px;
	float: left; 
}

#dental_logo {
	height: 50px;
	float: right;
}

#ccnmtl_logo {
	height: 50px;
	float: right;
}


 /* ---- Pagebody block elements ---------- */
#pagebody
{
	display: block;
	width: 900px;
	min-width: 900px;
	clear: both;
	margin: 0;
	padding: 0 0 0 0;
	border: 0;
	background-color: #fff;
}

/* ---- Content block elements ---------- */
#content
{
	display: block;
	float: left;
	margin: 0;
	padding: 0 0;
	border: 0;
	z-index: 5;
	width: 900px;
}

#squish
{
	margin: 0;
	padding: 0;
	border: 0;
}

.one_column #content
{
	display: block;
	float: none;
	width: 900px;
}

.pageheader
{
	margin-top: 0;
}

/* ---- Footer block elements ---------- */
#footer
{
	display: block;
	width: 900px;
		height: 30px;
	min-width: 900px;
	clear: both;
	margin: 0;
	padding: 0;
	border: 0;
		border-top: 1px solid #ccc;
	background-color: #fff;
	display: none;
}

/* ########## MT-preserved style definitions ########## */

div#edit-blocks-tab div.row-fluid {
    padding: 5px 0;
    margin: 5px 0;
}

div#edit-blocks-tab div.row-fluid.odd {
    background-color: #f9f9f9;
}

.mt-image-left
{
	float: left;
	margin: 0 10px 10px 0 !important;
}

.mt-image-center
{
	display: block;
	margin: 0 auto 10px !important;
	text-align: center;
}

.mt-image-right
{
	float: right;
	margin: 0 0 10px 10px !important;
}

.printonly
{
	display: none;
}

/* resizable textarea styles */
textarea.resizable {width: 90%; height: 90%;}

.resize-handle {
               cursor: se-resize;
               position: absolute;
               float: right;
}

/* ########## FOR FLUID WIDTH CSS ############### */
/* ########## Blocks style definitions ########## */

body.fluid
{
	width: auto;

}

/* ---- Header block elements ---------- */
body.fluid #header
{
	width: 100%;
}

/* ---- Pagebody block elements ---------- */
body.fluid #pagebody
{
	width: 100%;
}

li.reference{
    padding: 0px;
    background-color: #fff;
    color: #333;
    margin: -5px 0 10px 0;
}


/* ---- Footer block elements ---------- */
body.fluid #footer
{
	width: 100%;
}

/* ---- Content block elements ---------- */


.one_column.fluid #content
{
	display: block;
	float: none;
	width: 100%;
	margin: 0;
}

.one_column.fluid #squish
{
	margin: 0;
	padding: 0;
	border: 0;
}


/* ---- Quizblock basic ---------- */

.cases {
    padding: 10px 10px 20px 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}
.casetitle {
    font-weight: bold;
    font-size: 110%;
}

.cases ol {
    margin-left: 35px;
}

.cases .casequestion ul.caseanswers {
    list-style-type: none;
}

.cases .casequestion ol.caseanswers {
    list-style-type: upper-alpha;
}

.casesanswerdisplay {
    margin-top: 20px;
    display: block;
}

.answer {
	padding: 10px;
	border: 1px solid #ccc;
	background-color: #dadada;
}

.casesanswerdisplay .toggleable {
    background-color: #dadada;
	padding: 20px;
	margin-bottom:-10px;
}

.caption  {
    margin-bottom: 1em;
}

.caption p {
    font-size: 80%;
}

#reg_form {
    margin: 20px;
}

div.password-reset ul.errorlist,
div.password-change ul.errorlist,
div.signup-block ul.errorlist,
#reg_form ul.errorlist {
    list-style: none;
    margin: 0;
    display: inline;
    color: red;
}

#reg_form label {
    display: inline;
    font-size: 1.1em;
}

#reg_form input {
    margin-top: -5px;
    margin-right: 10px;
}




/* ---- Contact Us Form ---------- */

#contact {
    width: 100%;
}    
 
#contact .msg {
    background-color: #CCCCCC;
    font-size: 85%; 
    font-weight: bold; 
    padding-left: 5px;
}

#contact #contactform {
    background: #f5f5f5;
    border: solid 1px #ccc;
    padding: 10px 35px;
    margin: 0 0 1em 0;
}

#contact #contactform td {
    border: hidden;
    padding: 5px;
}

#contact #contactform .text {
    width: 250px;  
    margin-right: 6px;  
}

#contact #contactform #description {
    font: normal 0.88em/140% arial, helvetica, verdana, sans-serif;
    width: 100%;
}

#contact #contactform .labelcell {
    text-align: right;
    width: 150px;
    vertical-align: top;
}

#contact #contactform .submitcell {
    text-align: right;
}

/** Login **/

.login_tc {
	background-color: #f5f5f5; 
	padding: 25px; 
	margin: 0px 5px 0px 30px; 
	width: 285px; 
	border: #ccc solid 1px; 
	float: right;
}


/** Registration **/



/** Landing Page **/
div.landing-page a.btn,
div.landing-page a.btn:visited {
    color: black;
}

div.landing-page a.btn-primary,
div.landing-page a.btn-primary:visited {
    color: white;
}


div.landing-page span.disabled {
    color: #999;
}


div.course-materials ul {
    margin-bottom: 50px;
}

.course-materials li {
	margin: 0 0 1em -1.25em;
	list-style-type: none;
	font-size: .875em;
}

div.course-materials li a {
    margin-top: -5px;
    width: 165px;
    height: 40px;
}

.course-progress {
	padding: 10px 15px;
    margin: 2em 0 0 0;
    background-color: #fff;
    border: 1px solid #ddd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;    
}


.contents {
	font-size: .875em;
	background-color: #f5f5f5;
	padding: 1em;
	border-radius: 5px;
	border: solid 1px #ccc;
}


/** Treatment Choice Quizzes **/
	
.pageblock.treatment-choice-quiz {
	background: #f5f5f5;
	border: solid 1px #ccc;
	padding: 10px 35px;
	margin: 0 0 1em 0;
}

.generic-quiz .generic-feedback {
    display: block;
}

.generic-quiz .personalized-feedback {
    display: none;
}

.generic-quiz .caseuserfeedback.top {
    display: none;
}

.generic-quiz .alert {
    display: none;
}

div.quiz-results {
    display: none;
}

.treatment-choice-quiz div.quiz-results {
    display: block;
}

.treatment-choice-quiz ul {
    list-style: none;
}

.treatment-choice-quiz div.cases {
    float: left;
    border: none;
    margin-left: 50px;
    padding: 0;
    margin-top: 20px;
}

.treatment-choice-quiz div.casetitle {
    display: none;
}

.treatment-choice-quiz div.casequestion p {
    font-weight: bold;
    margin-top: 0;
}

.treatment-choice-quiz .smoker_quantity {
    float: left;
    height: 134px;
    border: 1px solid #000;
    background-color: #fff;
    margin: 2em 0 0 0;
    text-align: center;
    padding-top:23px;
    width: 150px;
}

.treatment-choice-quiz .smoker_quantity .footer {
    background-color: #333333;
    color: white;
    text-align: center;
    vertical-align: bottom;
    height: 34px;
    font-size: 80%;
}

.multiple-video-quiz .cases,
.single-video-quiz .cases {
    border: 0;
}

.multiple-video-quiz .caseuserfeedback.bottom,
.single-video-quiz .caseuserfeedback.bottom {
    display: none;
}


.single-video-quiz .generic-feedback,
.multiple-video-quiz .generic-feedback {
    display: none;
}

.single-video-quiz .personalized-feedback,
.multiple-video-quiz .personalized-feedback {
    display: block;
}

.single-video-quiz .correct,
.multiple-video-quiz .correct {
    font-size: 120%;
    color: #006600;
    font-weight: bold;
}

.single-video-quiz .incorrect,
.multiple-video-quiz .incorrect {
    font-size: 120%;
    color: #C00000;
    font-weight: bold;
}

.single-video-quiz div.alert,
.multiple-video-quiz div.alert {
    width: 261px;
    margin-bottom: 0;
    border-radius: 0;
    padding: 0px;
    padding-left: 5px;  
}

.multiple-video-quiz .cases {
    padding: 0;
}

.multiple-video-quiz .cases ol {
    margin-left: 1.5em;
}

.multiple-video-quiz ol li {
    margin-bottom: 25px;
}

.multiple-video-quiz div.answer-label {
    width: 230px;
    padding-left: 8px;
    padding-bottom: 8px;
    padding-right: 8px;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
}

.multiple-video-quiz div.alert {
    width: 241px;
}

.multiple-video-quiz div.answer-video {
    display: none;
}

.multiple-video-quiz div.quiz-video {
    position: absolute;
    margin-left: 269px;
    width: 480px;
    height: 272px;
}

.single-video-quiz div.answer-video {
    width: 100%;
    background-color: #E1E1E1;
    border: 1px solid #ccc;
    margin: 0 0 3em 0;
}

.survey {
    margin-bottom: 40px;
}

.survey .alert {
    display: none;
}

.survey .cases {
    border: none;
    clear: both;
    padding: 0;
    margin-left: 15px;    
}

.survey .quizdescription {
    font-weight: bold;
    margin-left: 16px;
}

.survey.horizontal .quizdescription div.row {
    margin-top: 10px;
    margin-left: 169px;
}

.survey.horizontal .quizdescription div.answer-heading {
    float: left;
    width: 210px;
    text-align: center;
}

.survey.horizontal .casequestiontext {
    float: left;
    width: 190px;
    margin-right: 35px;
    font-weight: normal !important;
    margin-left: 15px;    
}

.survey.horizontal .cases .casequestion ol.caseanswers {
    list-style-type: none;
}

.survey.horizontal ol.caseanswers li {
    float: left;
    width: 100px;
}

.survey .cases .casequestiontext {
    font-weight: bold;
    margin-bottom: 10px;
}

