body
{
	width: 920px;
	margin: 0;
	padding: 0;
	border: 0;
	background-color: #fff;
	font: normal 0.88em/140% arial, helvetica, verdana, sans-serif;
	color: #000;
}

/* ########## Standard elements ########## */

h1, h2, h3, h4, h5, h6
{
	margin: 0 0 0.5em 0;
	padding: 0;
	border: 0;
	font-weight: bold;
}

h1
{
	font-size: 140%;
	font-weight: normal;
}

h2
{
	margin: 1em 0 1em 0;
	font-size: 130%;
	text-transform: uppercase;

}

h3
{
	
	font-size: 115%;
	margin: 1.7em 0 1.25em 0;
	color: #223334;
}

h4
{

	font-size: 100%;
	font-style: italic;
	color: #223334;
	margin-bottom: .75em; 
}

h5
{

	font-size: 100%;
		font-weight: normal;
	font-style: italic;
	color: #223334;
	margin: 1em 0;
	text-transform: none;
	
}

h6
{

	font-size: 100%;

}

p
{
	display: block;
	margin: 0.7em 0;
	padding: 0;
	border: 0;
	font-size: 100%;
}

blockquote
{
	display: block;
	margin: 0 4em 0.7em 4em;
	padding: 0;
	border: 0;
	font-size: 100%;
}

table
{
	margin: 0 0 0.7em 0;
	padding: 0;
	border: 1px solid #ccc;
	border-collapse: collapse;
	font-size: 100%;
}

th
{
	border: 1px solid #ccc;
	border-collapse: collapse;
}

td
{
	border: 1px solid #ccc;
	border-collapse: collapse;
}

ol, ul
{
	display: block;
	margin: .25em 0 1.25em 1.5em;
	padding: 0;
	border: 0;
	font-size: 100%;
}


li {
	margin: 0 0.25em .5em .25em;
}

.navbar .nav>li {
    margin: 0;
}

.navbar .nav>li>div {
float: none;
padding: 10px 15px 10px;
color: #777;
text-decoration: none;
text-shadow: 0 1px 0 #fff;
}

a {
	color: #84240a;
}

a:hover
{
	color: #c00;
}

a:visited
{
	color: #5b1a00;
}

img, img a
{
	border: 0;
}

/* ########## Globally useful definitions ########## */

/* ---- Block block elements ---------- */
.block
{
	display: block;
	margin: 0 10px 1em 10px;
	padding: 0;
	border: 0;
}

/* ---- Clearing block ---------- */
.visualclear
{
	display: block;
	clear: both;
	margin: 0;
	padding: 0;
	border: 0;	
}

.visualhide
{
	display: none !important;
}


/* ########## Blocks style definitions ########## */

#container
{
	width: 987px;
	min-width: 987px;
	margin: 0 auto;
	padding: 0;
	border: 1px solid #999;
	border-collapse: collapse;
	background-color: #fff;
}

/* ---- Header (Banner) block elements ---------- */
#header
{
	display: block;
	width: 900px;
	height: 100px;
	min-width: 900px;
	margin: 0;
	padding: 0;
	border: 0;
	background-color: #fff;
}


#header h4 {
    height:67px;
    float: right;
}

/* ---- Standard navigation block elements ---------- */
#standardnav
{
	display: block;
	float: right;
}


#standardnav ul {
    margin: 10px 10px 0 0;
    float: right;
}

#standardnav li
{
	display: block;
	float: left;
	margin: 0 0 0 0.5em;
	padding:  0 0 0 0.5em;
	border: 0;
	font-size: 0.9em;
}

#standardnav a{
	text-decoration: none;
}

#standardnav a:hover {
}

/* ---- Primary navigation block elements ---------- */
/**
body.fluid #primarynav,
body.fluid #primarynav div.encase
{
    width: 100%;
}

#primarynav
{
	width: 900px;
	height: 30px;
	min-width: 900px;
	clear: both;
	margin: 0;
	padding: 0;
	border: 0;
	background: #333 url('../img/primarynav_bg.jpg') left top repeat-x;
}

#primarynav div.encase
{
	width: 900px;
	height: 30px;
}

#primarynav ul
{
	float: left;
	height: 30px;
	margin: 0 20px;
	padding: 0;
	border: 0;
	list-style: none;
	min-width: 760px;
}

#primarynav #leftside ul
{
	float: left;
}

#primarynav #rightside ul
{
	float: right;
}

#primarynav li
{
	display: block;
	float: left;
	border: 0;
	height: 21px;
	margin:3px 20px 0 -10px;
	padding:3px 10px;
	-moz-border-radius: 10px 10px 0 0; 
	border-radius: 10px 10px 0 0; 
	background-color: #333;
}

#primarynav li.selected, #primarynav li:hover
{
    background-color: #EAA141;
    
}

#primarynav li.selected .selected, #primarynav li.disabled .disabled
{
	color: black;
	text-decoration: none;
	display: block;
	height:24px;
	margin:-3px 0 0 -10px;
	padding:3px 5px 0 13px;
	min-width: 60px;
	text-align: center;
	font-weight: bold;
	z-index:1;
}

#primarynav li.disabled, #primarynav li.disabled:hover
{
    background-color: #333;
}

#primarynav a
{
	color: #ccc;
	text-decoration: none;
	display: block;
	height:24px;
	margin:-3px 0 0 -10px;
	padding:3px 5px 0 13px;
	min-width: 60px;
	text-align: center;
}

#primarynav a:hover
{
	color: #000;
	text-decoration: none;
}

#primarynav #usernav li
{
	background: transparent;
	font-weight: bold;
	color: #fc6;
	
}

#primarynav #usernav li a
{
	color: #fc6;
	
}

#primarynav #usernav li a:hover
{
	color: #fff;
	z-index:1;
	
}

#usernav
{
	background: transparent;
	font-weight: bold;
	color: #fc6;
	
}

#primarynav #leftside #usernav
{
	float: right;
}

#primarynav #rightside #usernav
{
	float: left;
}
**/

 /* ---- Pagebody block elements ---------- */
#pagebody
{
	display: block;
	width: 900px;
	min-width: 900px;
	clear: both;
	margin: 0;
	padding: 0 0 0 0;
	border: 0;
	background-color: #fff;
}


/* ---- Sidebar Left block elements ---------- */
#sidebar_left
{
	display: block;
	float: left;
	width: 182px;
	margin: 0;
	padding: 0 0;
	border: 0;
	z-index: 100;
}


.three_columns #sidebar_left
{
	display: block;
}

.two_columns_left #sidebar_left
{
	display: block;
}

.two_columns_right #sidebar_left
{
	display: none;
}

.one_column #sidebar_left
{
	display: none;
}

/* ---- Sidebar Right block elements ---------- */
#sidebar_right
{
	display: block;
	float: left;
	width: 200px;
	margin: 0;
	padding: 1em 0;
	border: 0;
	z-index: 10;
}

.three_columns #sidebar_right
{
	display: block;
}

.two_columns_left #sidebar_right
{
	display: none;
}

.two_columns_right #sidebar_right
{
	display: block;
}

.one_column #sidebar_right
{
	display: none;
}

/* ---- Sidebar block elements ---------- */

.sidebar
{
	padding: 0;
	border: 1px solid #ccc;
	font-size: 92%;
	line-height: 130%;
}

.sidebar h2
{
	margin: 0 0 0.7em 0;
	padding: 2px;
	border: 0;
	border-bottom: 1px solid #999;
	background-color: #e0e0e0;
	font-size: 108%;	
}

.sidebar .content
{
	margin: 0 0.5em 0.7em 0.5em;
	padding: 0;
	border: 0;
}

.sidebar ol
{
	margin: 0 0 0 1.5em;
	padding: 0;
	border: 0;
}

.sidebar li
{
	margin: 0 0 0.4em 0;
	padding: 0;
	border: 0;
}

.sidebar ul
{
	margin: 0;
	padding: 0;
	border: 0;
	list-style: none;
}

.sidebar ul li
{
	padding: 0 0 0 1.2em;
	background: url('../img/bullet_blue.gif') left 0.2em no-repeat;
}

.sidebar a
{
	color: #06c;
	text-decoration: none;
}

.sidebar a:hover
{
	color: #69c;
	text-decoration: none;
}

#sidebarlogo
{
	margin-bottom: 2em;
	padding: 0;
	border: 0;
	font-size: 92%;
	line-height: 130%;
}

#sidebarlogo #logo_ccnmtl
{
	display: block;
	width: 146px;
	height: 33px;
	overflow: hidden;
	margin: auto;
	padding: 0;
	border: 0;
	background: transparent url('../img/logo_ccnmtl_sidebar.gif') left top no-repeat;
}

#sidebarlogo #logo_ccnmtl a
{
	display: block;
	width: 145px;
	height: 33px;
	margin: 0;
	padding: 0;
	border: 0;
}

#sidebarlogo #logo_ccnmtl span
{
	display: none;
}

/* ---- Content block elements ---------- */
#content
{
	display: block;
	float: left;
	margin: 0;
	padding: 0 0;
	border: 0;
	z-index: 5;
	width: 900px;
}

#squish
{
	margin: 0;
	padding: 0;
	border: 0;
}

.three_columns #content
{
	display: block;
}

.two_columns_left #content,
.two_columns_right #content
{
	display: block;
	width: 780px;
}

.two_columns_right #squish
{
	margin: 0 0 0 10px;
}

.one_column #content
{
	display: block;
	float: none;
	width: 900px;
}

.pageheader
{
	margin-top: 0;
}

/* ---- Footer block elements ---------- */
#footer
{
	display: block;
	width: 900px;
		height: 30px;
	min-width: 900px;
	clear: both;
	margin: 0;
	padding: 0;
	border: 0;
		border-top: 1px solid #ccc;
	background-color: #fff;
	display: none;
}

/* ########## MT-preserved style definitions ########## */

div#edit-blocks-tab div.row-fluid {
    padding: 5px 0;
    margin: 5px 0;
}

div#edit-blocks-tab div.row-fluid.odd {
    background-color: #f9f9f9;
}

.mt-image-left
{
	float: left;
	margin: 0 10px 10px 0 !important;
}

.mt-image-center
{
	display: block;
	margin: 0 auto 10px !important;
	text-align: center;
}

.mt-image-right
{
	float: right;
	margin: 0 0 10px 10px !important;
}

.printonly
{
	display: none;
}

/* resizable textarea styles */
textarea.resizable {width: 90%; height: 90%;}

.resize-handle {
               cursor: se-resize;
               position: absolute;
               float: right;
}


/* styles for hs.js */
.hs-show { display: block; }
.hs-hide { display: none; }

/* styles for tabber.js */

/*--------------------------------------------------
  REQUIRED to hide the non-active tab content.
  But do not hide them in the print stylesheet!
  --------------------------------------------------*/
.tabberlive .tabbertabhide {
 display:none;
}

/*--------------------------------------------------
  .tabber = before the tabber interface is set up
  .tabberlive = after the tabber interface is set up
  --------------------------------------------------*/
.tabber {
}
.tabberlive {
 /*margin-top:1em;*/
 margin: 0;
}

/*--------------------------------------------------
  ul.tabbernav = the tab navigation list
  li.tabberactive = the active tab
  --------------------------------------------------*/
ul.tabbernav
{
 margin:0;
 padding: 3px 0;
 border-bottom: 1px solid #778;
        font-family: arial, helvetica, verdana, sans-serif;
}

ul.tabbernav li
{
 list-style: none;
 margin: 0;
 display: inline;
}
        
ul.tabbernav li a
{
 padding: 3px 0.5em;
 margin-left: 3px;
 border: 1px solid #778;
 border-bottom: none;
 background: #DDE;
 text-decoration: none;
}
 
ul.tabbernav li a:link { color: #448; }
ul.tabbernav li a:visited { color: #667; }
        
ul.tabbernav li a:hover
{
 color: #000;
 background: #AAE;
 border-color: #227;
}
ul.tabbernav li.tabberactive a
{
 background-color: #fff;
 border-bottom: 1px solid #fff;
}

ul.tabbernav li.tabberactive a:hover
{
 color: #000;
 background: white;
 border-bottom: 1px solid white;
}

.tabberlive .tabbertab {
 margin: 0;
 padding:0;
 border: 0;
}




/* ########## FOR FLUID WIDTH CSS ############### */
/* ########## Blocks style definitions ########## */

body.fluid
{
	width: auto;

}

/* ---- Header block elements ---------- */
body.fluid #header
{
	width: 100%;
}

body.fluid #subnav
{
	width: 100%;
}
body.fluid #primarynav,
body.fluid #primarynav div.encase
{
    width: 100%;
}

/* ---- Pagebody block elements ---------- */
body.fluid #pagebody
{
	width: 100%;
}

li.reference{
    padding: 0px;
    background-color: #fff;
    color: #333;
    margin: -5px 0 10px 0;
}


/* ---- Footer block elements ---------- */
body.fluid #footer
{
	width: 100%;
}

/* ---- Content block elements ---------- */


.three_columns.fluid #squish
{
	margin: 0 210px;
}


.two_columns_left.fluid #content
{
float: left;
}

.two_columns_left.fluid #squish
{
	margin: 0;
}

.two_columns_right.fluid #content
{
	margin-left: 0;
}

.two_columns_right.fluid #squish
{
	margin: 0;
}

.one_column.fluid #content
{
	display: block;
	float: none;
	width: 100%;
	margin: 0;
}

.one_column.fluid #squish
{
	margin: 0;
	padding: 0;
	border: 0;
}



#content .content-nav-block
{
	clear: both;
	width: 100%;
   height: 1.5em;

}

#content .content-nav
{
   height: 1.5em;
   margin: 2em 0 0 0;
   padding: 0.5em;
   border: 0;
   background-color: #dadada;
   text-align: center;
   font-size: 100%;
   font-weight: bold;
}

#content .content-nav a, #content .content-nav div {
	text-decoration: none;
	color: #333;
	font-size: 90%;
	margin-top: -3px;
}

#content .content-nav a#previous, #content .content-nav div#prev_disabled
{
   display: block;
   float: left;
   width: auto;
   white-space:nowrap;
}

#content .content-nav a#next, #content .content-nav div#next_disabled
{
  white-space:nowrap;
  display: block;
  float: right;
  width: auto;
}

#content .content-nav div#next_disabled, #content .content-nav div#prev_disabled
{  
  background: #ca812e url('../img/bottom_button_bg_disabled.jpg') repeat-x;
}

#content .content-nav table, 
#content .content-nav table tr, 
#content .content-nav table tr td {
	border: none; 
	margin: 0; 
	padding: 0;
}

.scrollable
{
   overflow:auto;
}

.invisible { display: none; }

.cases {

padding: 10px 10px 20px 10px;
border: 1px solid #ccc;
margin-bottom: 10px;
}
.casetitle {

font-weight: bold;
font-size: 110%;
}

.cases ol {

margin-left: 35px;
}

.casesanswerdisplay {

margin-top: 20px;
display: block;

}

.answer {

	padding: 10px;
	border: 1px solid #ccc;
	background-color: #dadada;

}

.moretoggle {


	font-weight:bold;
		background-color: #dadada;
	padding: 10px;
	display: inline;
	width: 10em;

}

.casesanswerdisplay .toggleable {
    background-color: #dadada;
	padding: 20px;
	margin-bottom:-10px;
}


a.reset_button {

background-color:#DEDEDE;
border:1px solid #CCCCCC;
float:right;
padding:3px;
}

#page_numbering {
    width: auto;
    background: none !important;
}

#module_indicator {
	border: 1px solid #ccc;
	padding: 25px 5px 15px 5px;
}

#module_indicator ol {


}

#module_indicator ol li {

float: left;
margin: 0 1em 0 2.5em;
}

#module_indicator .header {

float: left; 
margin: -1.7em 0; 
font-weight: bold; 
color: green;

}

.thismodule {

	border: 2px solid green;
	float: left;
	margin-top: -2px;

}

.caption  {

margin-bottom: 1em;
}

.caption p {

font-size: 80%;
}

#contact {
    width: 425px;
}    
 
#contact .msg {
    background-color: #CCCCCC;
    font-size: 85%; 
    font-weight: bold; 
    padding-left: 5px;
}

#contact #contactform {
    border: black solid 1px;
    background-color: #F5E2C7; 
    padding-top: 10px;
}

#contact #contactform td {
    border: hidden;
    padding: 5px;
}

#contact #contactform .text {
    width: 250px;  
    margin-right: 6px;  
}

#contact #contactform #description {
    font: normal 0.88em/140% arial, helvetica, verdana, sans-serif;
}

#contact #contactform .labelcell {
    text-align: right;
    width: 150px;
    vertical-align: top;
}

#contact #contactform .submitcell {
    text-align: right;
}


#subnav
{
   width: 900px;
   height: 30px;
   min-width: 900px;
   clear: both;
   margin: 0;
   padding: 0;
   border: 0;
   border-top: 4px solid #eaa141;
   font-size: 84%;
   background-color: #efc48d;
   
}

#subnav div.encase
{
   width: 900px;
   height: 30px;
}

#subnav ul
{
   float: left;
   height: 33px;
   margin: 0px;
   padding: 0;
   border: 0;
   list-style: none;
}

#subnav #leftside ul
{
   float: left;
}

#subnav #rightside ul
{
   float: right;
}

#subnav li
{
	display: block;
	float: left;
	margin: 0 ;
	padding: 3px .5em 2px .5em;
	border: none;
	border-right: 1px solid #eaa141;
	line-height: 24px;
	text-align: center;
	border-collapse: collapse;

}

#subnav li.selected
{
    display: block;
    height: 25px;
   color: #333;
	background-color: #fff;



}


#subnav li.selected .selected
{
	display: block;

	height: 25px;
		background-color: #fff;
	margin:0;


	
}



#subnav a
{
   text-decoration: none;
}



#subnav a:hover
{
   color: #c00;
   text-decoration: none;
}

/* ---- sidebar block elements ---------- */
body.fluid #pagebody #sidebar_left {
display:block;
margin: 1em 1em 1em 10px;
float: left;
}


body.fluid #pagebody #sidebar_left ul {
	list-style: none;
	font-size: 84%;
	margin-left: 1em;
	margin-bottom: 1.5em;
	

}

body.fluid #pagebody #sidebar_left ul li{
	padding: 5px;
	border-bottom: 2px solid #fff;
	background-color: #e1e1e1;
	color: #333;
	margin: 0;
}

body.fluid #pagebody #sidebar_left ul {
	padding: 0px;
	background-color: #fff;
	color: #333;
	margin: -5px 0 0 0;
}

body.fluid #pagebody #sidebar_left ul li.reference a{
 line-height: 20px;
color: #84240A;
}

body.fluid #pagebody #sidebar_left ul li.reference a:hover{
	text-decoration: underline;
}

body.fluid #pagebody #sidebar_left ul li a{
	text-decoration: none;
	color: #333;
}

body.fluid #pagebody #sidebar_left ul li.selected{

	background-color: #333;
	color: #fff;
	font-weight: normal;
}


#sidebar_left .disabled_link
{
   color: #999;
}

.nav-header>ul {
    z-index: 1000;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    background-color: #fff;
}

.nav-header>ul>li>a {
    display: block;
    padding: 3px 3px;
    clear: both;
    font-weight: normal;
    line-height: 20px;
    color: #333;
    white-space: nowrap;
}

/** Treatment Choice Quizzes **/

.generic-quiz .generic-feedback {
    display: block;
}

.generic-quiz .personalized-feedback {
    display: none;
}

.generic-quiz .caseuserfeedback.top {
    display: none;
}

.generic-quiz .alert {
    display: none;
}

div.quiz-results {
    display: none;
}

.treatment-choice-quiz div.quiz-results {
    display: block;
}

.treatment-choice-quiz ul {
    list-style: none;
}

.treatment-choice-quiz div.cases {
    float: left;
    border: none;
    margin-left: 50px;
    padding: 0;
}

.treatment-choice-quiz div.casetitle {
    display: none;
}

.treatment-choice-quiz div.casequestion p {
    font-weight: bold;
    margin-top: 0;
}

.treatment-choice-quiz .smoker_quantity {
    float: left;
    height: 134px;
    border: 1px solid #000;
    margin-bottom: 1em;
    text-align: center;
    padding-top:23px;
    width: 150px;
}

.treatment-choice-quiz .smoker_quantity .footer {
    background-color: #333333;
    color: white;
    text-align: center;
    vertical-align: bottom;
    height: 34px;
    font-size: 80%;
}

.multiple-video-quiz .cases,
.single-video-quiz .cases {
    border: 0;
}

.multiple-video-quiz .caseuserfeedback.bottom,
.single-video-quiz .caseuserfeedback.bottom {
    display: none;
}


.single-video-quiz .generic-feedback,
.multiple-video-quiz .generic-feedback {
    display: none;
}

.single-video-quiz .personalized-feedback,
.multiple-video-quiz .personalized-feedback {
    display: block;
}

.single-video-quiz .correct,
.multiple-video-quiz .correct {
    font-size: 120%;
    color: #006600;
    font-weight: bold;
}

.single-video-quiz .incorrect,
.multiple-video-quiz .incorrect {
    font-size: 120%;
    color: #C00000;
    font-weight: bold;
}

.single-video-quiz div.alert,
.multiple-video-quiz div.alert {
    width: 261px;
    margin-bottom: 0;
    border-radius: 0;
    padding: 0px;
    padding-left: 5px;  
}

.multiple-video-quiz ol li {
    margin-bottom: 25px;
}


.multiple-video-quiz div.answer-label {
    width: 250px;
    padding-left: 8px;
    padding-bottom: 8px;
    padding-right: 8px;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
}

.multiple-video-quiz div.answer-video {
    display: none;
}

.multiple-video-quiz div.quiz-video {
    position: absolute;
    left: 620px;
    width: 480px;
    height: 272px;
}

.single-video-quiz div.answer-video {
    width: 100%;
    background-color: #E1E1E1;
    align: center;
    border: 1px solid #ccc;
}

