{% extends "base_two_col_left.html" %}
{% load render %}

{% block js %} 
    <script type="text/javascript" src="/site_media/js/json2.js"></script>
    <script src="/site_media/js/jquery-1.4.2.min.js" type="text/javascript" ></script>
{% endblock %}

{% block title %}{{section.label}}{% endblock %}

{% block sidebarleft %}
   {% if leftnav.get_children %}
      {% with leftnav as selected_parent %}
         <h4>Sections</h4>
	     {% include "project_sub_nav.html" %}	   
      {% endwith %}
      <br />
   {% endif %}
    <h4>Quick References</h4>
    <ul>
        <li class="reference">
            <a href="http://tobaccocessation.ccnmtl.columbia.edu/main/media/pdf/TobaccoCessation_CourseGuide.pdf"><img src="/site_media/img/icon_table.jpg" align="absmiddle" style="margin-right: 3px;"/></a>&nbsp;<a href="http://tobaccocessation.ccnmtl.columbia.edu/main/media/pdf/TobaccoCessation_CourseGuide.pdf">Course Guide</a>
        </li>
        {% ifequal module.slug "assist" %}
        <li class="reference">
            <a href="http://tobaccocessation.ccnmtl.columbia.edu/main/media/pdf/PharmacotherapyTable.pdf"><img src="/site_media/img/icon_table.jpg" align="absmiddle" style="margin-right: 3px;"/></a>&nbsp;<a href="http://tobaccocessation.ccnmtl.columbia.edu/main/media/pdf/PharmacotherapyTable.pdf">Pharmacotherapy Table</a>
        </li>
        {% endifequal %}
        {% ifequal section.hierarchy.name "resources" %}
        <li class="reference">
            <a href="http://tobaccocessation.ccnmtl.columbia.edu/main/media/pdf/PharmacotherapyTable.pdf"><img src="/site_media/img/icon_table.jpg" align="absmiddle" style="margin-right: 3px;"/></a>&nbsp;<a href="http://tobaccocessation.ccnmtl.columbia.edu/main/media/pdf/PharmacotherapyTable.pdf">Pharmacotherapy Table</a>
        </li>
        {% endifequal %}
    </ul>
    
{% endblock %}

{% block content %}
   {% if not accessible %}
      This page is not currently accessible. Please complete your current section before moving onto a new section.
   {% else %}
		<h2>{{ section.label }}</h2>
		
        {% for block in section.pageblock_set.all %}
            {% if block.label %}<h3>{{block.label}}</h3>{% endif %}
            {% render block %}
        {% endfor %}
        
   {% endif %}		
{% endblock %}

{% block contentnav %}
<table>
<tr>
<td>
  {% if previous %}
     {% ifequal section.hierarchy "main" %}
        <a href="{{previous.get_absolute_url}}" id="previous">« {{previous.label}}</a>
     {% endifequal %}
  {% endif %}</td><td width="100%" align="center>
  <div id="page_numbering">
  {% ifequal depth 4 %}
     {% with section.get_siblings as siblings %}
        {% with section.get_parent as parent %}
		     {% for sibling in siblings %}
		        {% ifequal sibling section %}
		           {{parent.label}} | Page {{forloop.counter}} of {{siblings|length}}
		        {% endifequal %}
		     {% endfor %}
		  {% endwith %}
	  {% endwith %} 
  {% endifequal %}
  	  </div></td><td>
  {% if next %}
     <!-- added to allow javascript access to the menu links. hack for the js activities enabling/disabling of links -->
     <input type="hidden" id="next_section_slug" name="next_section_slug" value="{{next.slug}}"/>
     <a href="{{next.get_absolute_url}}" id="next">{{next.label}} »</a>
  {% endif %}</td></tr></table>
{% endblock %}