{% extends "base.html" %}
{% load i18n %}
{% block content %}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>
$(document).ready(function(){
    $("#ajax").click(function() {        
        //alert("onclick");// --> this is good
        $("#ajax").load("main/consent_html.txt") // adds it in expanded box
        // $.ajax({
        //     type: "POST",
        //     url:"/ajax_two/",
        //     data: {'zip': zip,},
        //     success: function(data){            
        //         //alert("Something was sent bacy to the front end!");
        //         results = $(data).find('#results').html()               
        //         $("#id_date").replaceWith("<span>" + results + "</span >");

        //      },
        //      error: function(){
        //          alert("Error");
        //      }//end error
        // });//end .ajaz
    });//end click() --> this is good
}); //end on ready
</script>
<button type="button" id="ajax">Click Me!</button> 
<div name="profile_form" style='{display:none;}'>
<div id="breadcrumbbar">
    <span class="here">You are Here:</span>  
    &gt;    Create Profile
</div>
{% if error_message %}
<p class="errornote">{{ error_message }}</p>
{% endif %}

<form action="" method="post">{% csrf_token %}
    {{ form.non_field_errors }}



<br/>
    <div class="fieldWrapper">
        {{ form.gender.errors }}
        <label for="id_sender">Gender: </label>
        {{ form.gender }}
    </div>
<br/>

    <div class="fieldWrapper">
        {{ form.is_faculty.errors }}
        <label for="id_subject">Are you a faculty memeber or a student?</label>
        {{ form.is_faculty }}
    </div>

<br>
    <div class="fieldWrapper">
        {{ form.specialty.errors }}
        <label for="id_sender">How would you describe your specialty?</label>
        {{ form.specialty }}
    </div>
<br/>

    <div class="fieldWrapper">
        {{ form.year_of_graduation.errors }}
        <label for="id_sender">What year did you graduate?</label>
        {{ form.year_of_graduation }}
    </div>
<br/>

    <p><input type="submit" value="Submit" /></p>
</form>
</div>

{% endblock %}
