{% extends "base.html" %}
{% load i18n %}
{% block content %}
<div id="breadcrumbbar">
    <span class="here">You are Here:</span>  
    &gt;    Create Profile
</div>
{% if error_message %}
<p class="errornote">{{ error_message }}</p>
{% endif %}

<form action="" method="post">{% csrf_token %}
    {{ form.non_field_errors }}
<br/>
    <div class="fieldWrapper">
        {{ form.role.errors }}
        <label for="id_sender">How would you describe your role in this course?</label>
        {{ form.role }}
    </div>
<br/>
<!--    <div class="fieldWrapper">
        {{ form.subject.errors }}
        <label for="id_subject">Email subject:</label>
        {{ form.subject }}
    </div>
<br/>
    <div class="fieldWrapper">
        {{ form.message.errors }}
        <label for="id_message">Your message:</label>
        {{ form.message }}
    </div> -->

    <p><input type="submit" value="Submit" /></p>
</form>


{% endblock %}
