{% extends "base.html" %}
{% load i18n %}
{% block content %}
<div id="breadcrumbbar">
    <span class="here">You are Here:</span>  
    &gt;    Create Profile
</div>
{% if error_message %}
<p class="errornote">{{ error_message }}</p>
{% endif %}

<br/>
<script type="text/javascript">
$( document ).ready(function()
{ //w
    var checked = false;

    $("#consent_button").click(function()
    { //w
        if(checked==true && $("#id_consent").prop('checked'))
        {
            $("#consent_given").show();
        }
    });

    $("#id_consent").click(function()//prop('checked'))
    {
        checked=true;
    });



});
</script>


<div id="consent_form">
<img src="/site_media/random/imposter.jpg" alt="shame on you! this is imposter content!">
</div>

    <div class="fieldWrapper">
        {{ form.consent.errors }}
        <label for="id_sender">I have read and agree to the Consent Agreement </label>
        {{ form.consent }}
        <button type="button" id="consent_button">I Accept</button> 
    </div>

<form action="" method="post">{% csrf_token %}
    {{ form.non_field_errors }}
<div id="consent_given" style="display: none">
{% if not_columbia %}

        <div class="fieldWrapper">
          {{ form.first_name.errors }}
          <label for="id_sender">First Name: </label>
          {{ form.first_name }}
        </div>
        <br/>

        <div class="fieldWrapper">
          {{ form.last_name.errors }}Last Name: </label>
          {{ form.last_name }}
        </div>
        <br/>

        <div class="fieldWrapper">
            {{ form.username.errors }}
            <label for="id_sender">Desired Username: </label>
            {{ form.username }}
        </div>
        <br/>

        <div class="fieldWrapper">
            {{ form.email.errors }}
            <label for="id_sender">Email: </label>
            {{ form.email }}
        </div>

{% endif %}
        <br/>
        <div class="fieldWrapper">
            {{ form.gender.errors }}
            <label for="id_sender">Gender: </label>
            {{ form.gender }}
        </div>
        <br/>

        <div class="fieldWrapper">
            {{ form.is_faculty.errors }}
            <label for="id_subject">Are you a faculty memeber or a student?</label>
            {{ form.is_faculty }}
        </div>
       

{% if not_columbia %}
    <br/>
    <div class="fieldWrapper">
        {{ form.institute.errors }}
        <label for="id_message">Institution Affiliation: </label>
        {{ form.institute }}
    </div>
    <br>

{% endif %}

    <div class="fieldWrapper">
        {{ form.specialty.errors }}
        <label for="id_sender">How would you describe your specialty?</label>
        {{ form.specialty }}
    </div><br/>

    <div class="fieldWrapper">
        {{ form.year_of_graduation.errors }}
        <label for="id_sender">What year did you graduate?</label>
        {{ form.year_of_graduation }}
    </div><br/>

    <div class="fieldWrapper">
        {{ form.age.errors }}
        <label for="id_sender">Age: </label>
        {{ form.age }}
    </div><br/>

    <div class="fieldWrapper">
        {{ form.hispanic_latino.errors }}
        <label for="id_sender">Are you hispanic or latino?: </label>
        {{ form.hispanic_latino }}
    </div><br/>

    <div class="fieldWrapper">
        {{ form.race.errors }}
        <label for="id_sender">Race: </label>
        {{ form.race }}
    </div><br/>


    <p><input type="submit" value="Submit" /></p>
</div>
</form>


{% endblock %}
