{% extends "base.html" %}
{% load accessible %}

{% block extrahead %}
    {{ block.super }}
{% endblock %}

{% block js %}{% endblock %}

{% block extrajs %}
    {{ block.super }}
{% endblock %}

{% block title %}Home{% endblock %}

{% block primarynavtabs %}
    {% if profile.has_content %}
        <div class="nav-collapse collapse">
            {% include "resources_nav.html" %}
        </div>
    {% endif %}
{% endblock %}

{% block content %}
<div class="row-fluid">
    <span class="span8">
        <h2>Welcome!</h2>
    </span>
</div>

{% if not profile.has_content %}
    <div class="row-fluid">
        <div class="span8 landing-page">
            <div class="row-fluid">
                <div class="span12">    
                    <p>Thank you for taking the time to complete the registration page and for your interest in tobacco cessation counseling.</p>

                    <p>You have identified yourself as a dental specialist for which this Tobacco Cessation course has not yet been tailored. As a result, we apologize, but access to the site is limited to those dental specialties for which it has been developed.</p>        
                </div>
            </div>
        </div>
    </div>
{% else %}
    <div class="row-fluid">
        <div class="span8 landing-page">
            <div class="row-fluid">
                <div class="span8">    
                <p>
                    This course provides you with multimedia learning modules on pharmacotherapy regimens for tobacco cessation, including demonstrative videos, immediate-response quizzes, and treatment activities. You should come away with a strong understanding of available tobacco cessation pharmacotherapies and be empowered to effectively encourage tobacco cessation in your future dental practice.
                </p>
                <p>
                    You can go through each module at your own pace. You can stop at any time and your progress will be saved. When you return, you will come back to this table of contents page where you can review what you have already learned, and proceed to complete the course.
                </p>
                <p>
                    Before you begin, please download the Course Guide. You will be instructed to read sections there before completing the activities in each section.                
                </p>        
                </div>
                <div class="span4 course-materials">
                    <h4>Download Materials</h4>
                    <ul>
                        <li>&nbsp;&nbsp;
                            <a href="https://www1.columbia.edu/sec/ccnmtl/remote/static/tobaccocessation/TobaccoCessation_CourseGuide_{{profile.role|capfirst}}.pdf" target="_blank" class="btn">Get Course Guide<br /><i class="icon-download"></i>
                            </a>
                        </li>
                        {% if profile.is_role_faculty or user.is_staff %}
                            <li>
                                <a href="https://www1.columbia.edu/sec/ccnmtl/remote/static/tobaccocessation/instructorguide.pdf" target="_blank" class="btn">Get Instructor Guide<br /><i class="icon-download"></i>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>           
            <div class="row-fluid">
                <div class="span12">
                    {% with profile.last_location as last_location %}
                        {% if profile.percent_complete == 0 %}
                            <a href="{{last_location.get_absolute_url}}" class="btn btn-large btn-primary">Begin the Course <i class="icon-arrow-right icon-white"></i></a>
                        {% else %}
                            <div class="course-progress">
                            <h4>Course Progress</h4>
                            <h5>{{profile.percent_complete}}% Complete</h5>
                            <div class="progress progress-striped">
                                <div class="bar" style="width: {{profile.percent_complete}}%;"></div>
                            </div>
                            <a href="{{last_location.get_absolute_url}}" class="btn btn-large">
                                Continue <i class="icon-arrow-right"></i>
                            </a>
                            </div>
                        {% endif %}
                    {% endwith %}
                </div>
            </div>
        </div>
        <div class="span4">
            <div class="contents">
                <h4>Table of Contents</h4>
                {% with "true" as gated %}
                {% with 2 as closing_depth %}
                    {% include "toc.html" %}
                {% endwith %}{% endwith %}
            </div>
        </div>
     </div>
{% endif %}
 
{% endblock %}