{% extends "base.html" %}
{% load accessible %}

{% block extrahead %}
    {{ block.super }}
{% endblock %}

{% block js %}{% endblock %}

{% block extrajs %}
    {{ block.super }}
{% endblock %}

{% block title %}Home{% endblock %}

{% block primarynavtabs %}
    {% if user.is_authenticated %}
        <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
         
        <!-- Everything you want hidden at 940px or less, place within here -->
        <div class="nav-collapse collapse">
            {% include "resources_nav.html" %}
        </div>
        
        {% if profile.is_role_faculty or user.is_staff %}
            {% include "faculty_nav.html" %}
        {% endif %}
        
    {% endif %}
{% endblock %}

{% block content %}
    <div class="landing-page">
        <h2>Welcome!</h2>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget sem mattis, rhoncus dolor ac, mollis augue. Cras ligula libero, viverra ut dui vel, commodo volutpat enim. Nullam eu lorem tellus. Fusce elementum eget purus sed venenatis. Suspendisse sit amet justo dolor. Fusce posuere vestibulum adipiscing. Nulla facilisi. Integer porttitor, diam quis vehicula elementum, ipsum lectus molestie velit, ut rhoncus purus neque at magna. Fusce turpis nisi, fringilla vitae feugiat ac, mattis in leo. Donec felis est, pellentesque quis urna eu, auctor pretium diam. Duis sagittis venenatis turpis at auctor.
        
        <br />
        <div class="course-materials">
            <h3>Course Materials</h3>
            <ul>
                <li>Download Course Guide&nbsp;&nbsp;
                    <a href="http://tobaccocessation.ccnmtl.columbia.edu/main/media/pdf/TobaccoCessation_CourseGuide.pdf" target="_blank" class="btn">
                    <i class="icon-download"></i>
                    </a>
                </li>
                {% if profile.is_role_faculty or user.is_staff %}
                    <li>Download Faculty Guide&nbsp;&nbsp;
                        <a href="#" target="_blank" class="btn">
                            <i class="icon-download"></i>
                        </a>
                    </li>
                {% endif %}   
            </ul>
        </div>
                        
        {% ifequal profile.role "pediatrics" %}
            @todo Pediatric Static Content 
        {% else %}{% ifequal profile.role "orthodontics" %}
            @todo Orthodontics Static Content
        {% else %}{% ifequal profile.role "endodontics" %}
            @todo Endodontics Static Content
        {% else %}
            {% with profile.last_location as last_location %}
                {% ifequal profile.percent_complete 0 %}
                    <a href="{{last_location.get_absolute_url}}" class="btn btn-primary">Begin the Course <i class="icon-arrow-right icon-white"></i></a>
                {% else %}
                    <div class="course-progress">
                    <h3>Course Progress</h3>
                    <h5>{{profile.percent_complete}}% Complete</h5>
                    <div class="progress progress-striped">
                        <div class="bar" style="width: {{profile.percent_complete}}%;"></div>
                    </div>
                    <a href="{{last_location.get_absolute_url}}" class="btn pull-right">
                        Continue <i class="icon-arrow-right"></i>
                    </a>
                    </div>
                {% endifequal %}
                
                <h4>Table of Contents</h4>        
                <ul class="toc">
                {% for s in root.get_descendants %}
                    <li class="menu" style="list-style: none; line-height: 150%">
                        {% ifaccessible s %}                 
                        <a href="{{s.get_absolute_url}}">
                            {{s.label}}{% ifequal s last_location %} <i class="icon-hand-left"></i>{% endifequal %}
                        </a>
                        {% else %}
                            <span class="disabled">{{s.label}}</span>
                        {% endifaccessible %}
                        {% if s.get_children %}
                            <ul>
                        {% else %}{% if s.is_last_child %}
                            {% for lc in s.closing_children %}
                                </ul>
                            {% endfor %}
                        {% endif %}{% endif %}     
                     </li>
                {% endfor %}
                </ul>
            {% endwith %}
        {% endifequal %}{% endifequal %}{% endifequal %}
    </div> 
{% endblock %}