{% extends "base.html" %}

{% block extrahead %}
    {{ block.super }}
{% endblock %}

{% block js %}{% endblock %}

{% block extrajs %}
    {{ block.super }}
{% endblock %}

{% block title %}Home{% endblock %}

{% block pagetitle %}Landing Page{% endblock %}

{% block primarynavtabs %}
{% endblock %}
                    
{% block content %}
    Welcome! 
    
    <div>Hierarchy: {{profile.role}}</div>
    
    <a href="">Download course guide</a>
    
    {% ifequal profile.role "pediatrics" %}
        @todo Pediatric Static Content 
    {% else %}{% ifequal profile.role "orthodontics" %}
        @todo Orthodontics Static Content
    {% else %}{% ifequal profile.role "endodontics" %}
        @todo Endodontics Static Content
    {% else %}
        <div>Percent Complete: {{profile.percent_complete}}%</div>
        {% with profile.last_location as section %}
        <div>Last Location: <a href="{{section.get_absolute_url}}">{{section.label}}</a></div>
        {% endwith %} 
    {% endifequal %}{% endifequal %}{% endifequal %}
    
    Instructor Stuff
    {% ifequal profile.is_faculty "FA" %}
        Faculty Teaching Guide: provide link
    {% endifequal %}   
    
    TOC 
{% endblock %}