{% extends "base.html" %}
{% load render accessible %}

{% block title %}{{section.label}}{% endblock %}

{% block extrahead %}
    {{ block.super }}
    {% for block in section.pageblock_set.all %}
        {% rendercss block %}
    {% endfor %}
{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="/site_media/js/json2.js"></script>
    <script type="text/javascript" src="/site_media/js/util.js"></script>
    
    <script type="text/javascript">    
        jQuery(document).ready(function () {            
            jQuery("form").submit(function(evt) {
                evt.stopImmediatePropagation();

                if (!is_form_complete(this)) {
                    alert("Please complete all form fields before continuing.");
                    return false;
                } else {
                    return true;
                }
            });
        });
    </script>    
    
{% endblock %}

{% block extrajs %}
    {{ block.super }}
    {% for block in section.pageblock_set.all %}
        {% renderjs block %}
    {% endfor %}
{% endblock %}

{% block primarynavtabs %}
    {% if user.is_authenticated %}
        <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
         
        <!-- Everything you want hidden at 940px or less, place within here -->
        <div class="nav-collapse collapse">
            {% if hierarchy.name != "resources" and hierarchy.name != "activities" %}
                {% include "primary_nav.html" %}
            {% endif %}
            {% if profile.is_role_faculty or user.is_superuser %}
                {% include "activities_nav.html" %}
            {% endif %}
            {% include "resources_nav.html" %}
        </div>
    {% endif %}
{% endblock %}


{% block extraprimarynav %}
    {% if user.is_staff %}
    <ul class="nav pull-right">
        <li><a href="{{section.get_edit_url}}">Edit Page</a></li>
        
        {% if needs_submit and is_submitted %}
            <li>
                <form id="reset-form" action="." method="post">
                    <input type="hidden" name="action" value="reset" />
                    <input type="submit" value="Reset" class="btn pull-right" />
                </form>
            </li>
        {% endif %}
    </ul>
    {% endif %}
{% endblock %}

{% block breadcrumbs %}
{% if hierarchy.name != "resources" and hierarchy.name != "activities" %}
    {% if section.depth > 3 %} 
        <ul class="breadcrumb">
            {% for a in ancestors %}
                {% if a.depth > 2 %}
                    <li>
                        <a href="{{a.get_absolute_url}}">{{a.label}}</a>
                        <span class="divider">/</span>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
   {% endif %}
{% endif %}
{% endblock %}

{% block content %}
   {% if not can_access %}
        <div class="alert alert-error">
            {% with profile.last_location as last_visited %}
                <p>
                    <b>Error!</b> This page is not available.
                </p>                    
                <a class="btn" href="/">Home</a>
            {% endwith %}
        </div>
   {% else %}
        {% if needs_submit %}
            {% if is_submitted %}
            {% else %}
                <form action="." method="post">
            {% endif %}
        {% endif %}
        
		<h2>{{ section.label }}</h2>
		
        {% for block in section.pageblock_set.all %}
            {% if block.label %}
                <h3>{{block.label}}</h3>
            {% endif %}
            <div class="pageblock{% if block.css_extra %} {{block.css_extra}}{% endif %}">
                {% render block %}
            </div>
        {% endfor %}
        
        {% if needs_submit %}
            {% if request.user.is_anonymous %}
            {% else %}
                <div class="visualclear"></div>        
                {% if is_submitted %}
                    {% if allow_redo %}
                    <form action="." method="post">
                    <input type="hidden" name="action" value="reset" />
                    <input type="submit" value="try again" class="btn pull-right" />
                    </form>
                    {% endif %}
                {% else %}                    
                    <input type="submit" value="Submit" class="btn btn-primary pull-right" />
                    <div class="visualclear"></div>                
                    </form>
                {% endif %}
            {% endif %}
        {% endif %}
   {% endif %}		
{% endblock %}


{% block contentnav %}
    {% if can_access %}    
        <div class="navbar footer">
            <div class="navbar-inner">
                {% if previous %}
                <ul class="nav">
                    <li>
                        {% ifaccessible previous %}
                            <a href="{{previous.get_absolute_url}}" id="previous">« {{previous.label}}</a>
                        {% else %}
                            <div id="prev_disabled">« {{previous.label}}<img align="top" src="/site_media/img/lock.png"/></div>
                        {% endifaccessible %}
                    </li>
                </ul>
                {% endif %}
            
                {% if next %}
                <ul class="nav pull-right">
                    <li>
                         <!-- added to allow javascript access to the menu links. hack for the js activities enabling/disabling of links -->
                         <input type="hidden" id="next_section_slug" name="next_section_slug" value="{{next.slug}}"/>
                         {% ifaccessible next %}
                            <a href="{{next.get_absolute_url}}" id="next">{{next.label}} »</a>
                            <div style="display: none;" id="next_disabled">{{next.label}} <img align="top" src="/site_media/img/lock.png" alt="locked"/></div>
                         {% else %}
                            <a style="display: none" href="{{next.get_absolute_url}}" id="next">{{next.label}} »</a>
                            <div id="next_disabled" title="You must complete the activities on this page before continuing.">
                                <img align="top" src="/site_media/img/lock.png" alt="locked"/> {{next.label}} »
                            </div>
                         {% endifaccessible %}            
                    </li>
                </ul>
                {% endif %}
        
            </div>
        </div>
    {% endif %}    
{% endblock %}
