{% extends "base_two_col_left.html" %}
{% load render accessible %}

{% block extrahead %}
    {{ block.super }}
    {% for block in section.pageblock_set.all %}
        {% rendercss block %}
    {% endfor %}
{% endblock %}

{% block js %} 
    <script type="text/javascript" src="/site_media/js/json2.js"></script>
{% endblock %}

{% block extrajs %}
    {% for block in section.pageblock_set.all %}
        {% renderjs block %}
    {% endfor %}
{% endblock %}

{% block title %}{{section.label}}{% endblock %}

{% block sidebarleft %}
    {% if leftnav.get_children %}
        {% with leftnav as selected_parent %}
            <h4>Sections</h4>
    	    {% include "project_sub_nav.html" %}
            <br />            	   
        {% endwith %}
    {% endif %}
    <h4>Quick References</h4>
    <ul>
        <li class="reference">
            <a href="http://tobaccocessation.ccnmtl.columbia.edu/main/media/pdf/TobaccoCessation_CourseGuide.pdf" target="_blank"><img alt="icon" src="/site_media/img/icon_table.jpg" style="margin-right: 3px; vertical-align: middle;"/></a>&nbsp;<a href="http://tobaccocessation.ccnmtl.columbia.edu/main/media/pdf/TobaccoCessation_CourseGuide.pdf" target="_blank">Course Guide</a>
        </li>
        {% ifequal module.slug "assist" %}
        <li class="reference">
            <a href="http://tobaccocessation.ccnmtl.columbia.edu/main/media/pdf/PharmacotherapyTable.pdf" target="_blank"><img alt="icon" src="/site_media/img/icon_table.jpg" style="margin-right: 3px; vertical-align: middle;"/></a>&nbsp;<a href="http://tobaccocessation.ccnmtl.columbia.edu/main/media/pdf/PharmacotherapyTable.pdf" target="_blank">Pharmacotherapy Table</a>
        </li>
        {% endifequal %}
        {% ifequal section.hierarchy.name "resources" %}
        <li class="reference">
            <a href="http://tobaccocessation.ccnmtl.columbia.edu/main/media/pdf/PharmacotherapyTable.pdf" target="_blank"><img alt="icon" src="/site_media/img/icon_table.jpg" style="margin-right: 3px; vertical-align: middle;"/></a>&nbsp;<a href="http://tobaccocessation.ccnmtl.columbia.edu/main/media/pdf/PharmacotherapyTable.pdf" target="_blank">Pharmacotherapy Table</a>
        </li>
        {% endifequal %}
    </ul>    
{% endblock %}

{% block navrightextra %}
    {% if user.is_staff %}
    <ul class="nav pull-right">
        <li><a href="/edit{{section.get_absolute_url}}">Edit Page</a></li>        
    </ul>
    {% endif %}
{% endblock %}


{% block content %}
   {% if not accessible %}
      <br />
      This page is not currently accessible. Please complete your current section before moving onto a new section.
   {% else %}
		<h2>{{ section.label }}</h2>
		
        {% for block in section.pageblock_set.all %}
            {% if block.label %}<h3>{{block.label}}</h3>{% endif %}
            {% render block %}
        {% endfor %}
        
   {% endif %}		
{% endblock %}

{% block contentnav %}
<table>
  <tr>
    <td>
      {% if previous %}
         {% ifequal section.hierarchy.name "main" %}
            {% ifaccessible previous %}
                <a href="{{previous.get_absolute_url}}" id="previous">« {{previous.label}}</a>
            {% else %}
                <div id="prev_disabled"><img align="top" src="/site_media/img/lock.png"/> {{previous.label}}</div>
            {% endifaccessible %}
         {% endifequal %}
      {% endif %}
    </td>
    <td width="100%" align="center">
      
    {% ifequal depth 4 %}
        <div id="page_numbering">
        {% with section.get_siblings as siblings %}
        {% with section.get_parent as parent %}
    	     {% for sibling in siblings %}
    	        {% ifequal sibling section %}
    	           {{parent.label}} | Page {{forloop.counter}} of {{siblings|length}}
    	        {% endifequal %}
    	     {% endfor %}
    	{% endwith %}{% endwith %}
        </div> 
    {% endifequal %}
      	  
    </td>
    <td>
      {% if next %}
         <!-- added to allow javascript access to the menu links. hack for the js activities enabling/disabling of links -->
         <input type="hidden" id="next_section_slug" name="next_section_slug" value="{{next.slug}}"/>
         {% ifaccessible next %}
            <a href="{{next.get_absolute_url}}" id="next">{{next.label}} »</a>
            <div style="display: none;" id="next_disabled">{{next.label}} <img align="top" src="/site_media/img/lock.png" alt="locked"/></div>
         {% else %}
            <a style="display: none" href="{{next.get_absolute_url}}" id="next">{{next.label}} »</a>
            <div id="next_disabled">{{next.label}} <img align="top" src="/site_media/img/lock.png" alt="locked"/></div>
         {% endifaccessible %}
      {% endif %}
    </td>
  </tr>
</table>
{% endblock %}
