{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div id="breadcrumbbar">
    <span class="here">You are Here:</span>  
    &gt;    Update Profile
</div>
{% if error_message %}
<p class="errornote">{{ error_message }}</p>
{% endif %}

<form action="" method="post">{% csrf_token %}
    {{ form.non_field_errors }}

<br/>
    <div class="fieldWrapper">
        {{ form.first_name.errors }}
        <label for="id_sender">First Name: </label>
        {{ form.first_name }}
    </div>
<br/>

    <div class="fieldWrapper">
        {{ form.last_name.errors }}Last Name: </label>
        {{ form.last_name }}
    </div>

<br/>

    <div class="fieldWrapper">
        {{ form.email.errors }}Email: </label>
        {{ form.email }}
    </div>

<br/>
    <div class="fieldWrapper">
        {{ form.gender.errors }}
        <label for="id_sender">Gender: </label>
        {{ form.gender }}
    </div>
<br/>

    <div class="fieldWrapper">
        {{ form.is_faculty.errors }}
        <label for="id_subject">Are you a faculty memeber or a student?</label>
        {{ form.is_faculty }}
    </div>

<br>
    <div class="fieldWrapper">
        {{ form.specialty.errors }}
        <label for="id_sender">How would you describe your specialty?</label>
        {{ form.specialty }}
    </div>
<br/>

    <div class="fieldWrapper">
        {{ form.year_of_graduation.errors }}
        <label for="id_sender">What year did you graduate?</label>
        {{ form.year_of_graduation }}
    </div>
<br/>

    <p><input type="submit" value="Submit" /></p>
</form>


{% endblock %}
