#patient {
    width: 100%;
}


#about_patient {
    float: left;
	display:block;
	padding:10px;
	width: 50%;
	border: 1px solid #ccc;
    height: 600px;
}

#about_patient img {
	margin: 0 10px 10px 0;
	border: 1px solid #ccc;
    float: left;
}

#about_patient h3 {
    
	font-size: 100%;
	margin: 0 0 .5em 0;

}

#about_patient h4 {
    
	font-size:90%;
	font-weight:normal;
	margin-top:-0.5em;


}

#patient_header {
  width: 800px;
}


#patient_description {
	float: left;
	margin-right: 10px;
	padding: 0 10px;
	text-align: center;
	width: 165px;


}

#patient_history {
   height: 410px;
   -webkit-column-count: 2;
      -moz-column-count: 2;
           column-count: 2;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px; 
}

#treatment_feedback {
   float: left;
   width: 490px;
   border: 1px solid #ccc;
   height: 125px;
   padding: 10px;
   border-spacing: 5px; 
   overflow:auto;
      background-color: #efefef;
   font-size: 90%;
}


#treatment_types {
	float: left;
	border: 1px solid #ccc;
	padding: 5px;
	background-color: #dedede;
}

.treatment_type_box {
	float: left;
   width: 170px;
   margin-right: 10px;

   
}

.treatment_type_box h5 {
margin: 5px;
font-size: 95%;

   
}

.treatment_type {

   border: 1px solid #aaa;
   min-height: 135px;
   padding: 5px 5px 0px 5px;
}

.directions_box {
	background-color:#F8DB9F;
	border:1px solid #CCCCCC;
	float:left;
	height:130px;
	margin-bottom:15px;
	margin-right: 5px;
	margin-top:34px;
	padding:0 10px 10px;
	width:513px;
}

#available_treatments_box {
   float: left;
   margin-bottom: 1.5em;
   width: 750px;
}
    
#available_treatments {
	float: left;
	width: 670px;
	height: 86px;
   background-color: #dedede;
   border: 1px solid #ccc;
   padding: 5px 5px 5px 55px;
}

.padded_image {
	
	padding: 3px;
	height: 40px;
	width: 150px;
	display: block;
	float:left;
	background-color: #dedede;
	margin: -3px 19px 4px -12px;
	
}



.highlight {
	border: 3px solid #333;
	display: block;
	height: 40px;
	width: 150px;
	margin: -3px 4px 2px 1px;
	float: left;
}

.padded_image.highlight {

	background-color: #333;
	border: none;
	margin: -3px 19px 4px -12px;
}

#treatment_reasoning_container {

border: 1px solid #ccc;
padding: 0 5px 5px 5px;
margin:1em 2em 0 0;
font-size: 85%;

}

#treatment_reasoning_container h5 {

border: 1px solid #ccc;
padding: 0 5px;
font-weight: bold;
margin-bottom: -.5em;



}

.treatment_reasoning {
   text-align: left;   
  padding: 5px;
      margin: 5px 0;
      
   	
}

.treatment_reasoning h4 {

      margin-top: 1.5em;
      
   	
}

#patient_name {
	font-weight: bold;
	margin-left: 25px;
	display: inline;
}

#date {
	margin-left: 120px;
	display: inline;

}

#gender {
	font-weight:bold;
	margin:31px 0 0px 300px;

}
.best {
	
	background-color: #60ab5e;

}

.reasonable {
	
	background-color: #f9e073;

}

.ineffective {
	
	background-color: #fba940;

}

.harmful {
	
	background-color: #ce5a5e;

}

a.reset_button {
	margin: -.5em 2em 0 0;
}




