#feedback {
	display:block;
	height:209px;
	margin: -13px 0 0 -55px;
}

#callout_container {
    margin-left: 28px;
    top: 409px;
	position:absolute;
}

.callout {
    font-size: 80%;
    line-height: 120%;
    background-color: #efc48d;
    margin: 3px;
    padding: 5px;
    width: 140px;
    border: 1px solid #eaa141;
}

#answer_container1 {
	float: left;
	position:relative;
	top:-174px;
	width:200px;
}

#answer_container2 {
	float: left;
	margin-left: 180px;
	position:relative;
	top:-174px;
	width:200px;
	*left: -530px;
	*top: 12px;
}

.correct_answer {
   font-size: 80%;
   line-height: 120%;
   background-color: #ddd;
   color: #4F8A10;
   border: 1px solid #4F8A10;
   padding: 2px 4px;
     width: 145px;
}

.connecting_line
{
   position: absolute;
   margin: 0;
   padding: 0;
   background-color: white;
   z-index: 20;
   border-bottom: 1px solid #eaa141;
}

#blankrx {
   background-image: url(../images/double_blankrx_sm.jpg);
   height: 456px;
   background-repeat: no-repeat;
   background-position: top center;
}


#rx_fields1 {
    float: left;
    width: 323px;
    margin: 242px 0 0 143px;
}

#rx_fields2 {
     float: left;
     width: 323px;
     margin: 242px 0 0 57px;
}

#dosage, #disp, #dosage_2, #disp_2 {
    height: 14px;
    font-size: 12px;    
	margin-bottom: 3px;
    border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

#sig, #sig_2 {
	height: 55px;
	overflow: auto;
	width: 207px;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	font-size: 12px;
}

#refills, #refills_2 {
    height: 14px;
    margin: 18px 0 0 45px;     
    width: 31px;
    text-align: right;
    font-size: 12px;
}

#dosage_correct, #dosage_2_correct {
   position: relative;
    margin: 4px 0 3px 421px;
}

#disp_correct, #disp_2_correct {
   position: relative;  
   margin: 8px 0 3px 421px;
}

#sig_correct, #sig_2_correct {
   position: relative;  
   margin: 8px 0 2px 421px;
}

#refills_correct, #refills_2_correct {
	left: 290px;
	position: absolute;
	top: 153px;
	width: 44px;
}

#refills_callout {
	position:absolute;
	top: 199px;
}







