{% extends "base.html" %}

{% block css %}
   {{ super.block }}
   <link href="/assist/css/assist.css" rel="stylesheet" type="text/css" />
{% endblock %}


{% block subnav %}
   <ul>
      <li><a href="/assist/">Introduction</a></li>
      <li>About Pharmacotherapeutics</li>
      <li>Activity: Quiz</li>
      <li>Selecting & Prescribing</li>
      <li><a href="/assist/treatment/">Activity: Treatment Choices</a></li>
      <li>First Line Medications</li>
      <li>Second Line Medications</li>
      <li>Activity: Virtual Patients</li>
   </ul>
{% endblock %}