{% extends "assist/base_assist.html" %}

{% block css %}
   {{ block.super }}
   <link href="/assist/media/css/treatment.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block js %}
   {{ block.super }}
   <script type="text/javascript" src="/site_media/js/mochikit/MochiKit/MochiKit.js"></script>
   <script type="text/javascript" src="/site_media/js/mochikit/MochiKit/Visual.js"></script>
   <script type="text/javascript" src="/site_media/js/mochikit/MochiKit/DragAndDrop.js"></script>
{% endblock %}

{% block content %}
    {{ block.super }}
    <h3>Assist</h3>
{% endblock %}