<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="//www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>Tobacco Cessation: {% block title %}{% endblock %}</title>
	<link rel="shortcut icon" href="{{STATIC_URL}}img/favicon.ico" type="image/x-icon" />

    <link rel="stylesheet" href="{{STATIC_URL}}bootstrap/css/bootstrap.min.css" media="screen" />

    <link href='//fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css' />

    <script>
        window.sentryOnLoad = function () {
            Sentry.init({
                {% if STAGING_ENV %}
                environment: 'staging'
                {% elif debug %}
                environment: 'development'
                {% else %}
                environment: 'production'
                {% endif %}
            });
        };
    </script>
    <script
        src="https://js.sentry-cdn.com/544cf86fc7664f4d9af2ca307be58190.min.js"
        crossorigin="anonymous"></script>

    <script type="text/javascript" src="{{STATIC_URL}}js/jquery-1.10.1.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}bootstrap/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="{{STATIC_URL}}css/main.css" media="screen" />
    <link rel="stylesheet" href="{{STATIC_URL}}css/print.css" media="print" />

    {% block css %}{% endblock %}

    {% block extrahead %}{% endblock %}	
    <link rel="stylesheet" href="https://search.sites.columbia.edu/cu-privacy-notice/cu-privacy-notice.css" />
    <script src="https://search.sites.columbia.edu/cu-privacy-notice/cu-privacy-notice.js"></script>
</head>
<body class="one_column {% block widthtype %}fluid{% endblock %}">
    <div id="container">    
        {% block masthead %}
        	<!-- ###### Site banner ###### -->
        	<div id="header">
        	     <div id="standardnav">
                    {% block standardnav %}
                        <ul class="nav nav-pills">
                            {% if user.is_authenticated %}
                                <li><a href="/accounts/logout/?next=/">Log Out</a></li>
                                {% if user.has_usable_password %}
                                    <li><a href="/accounts/password_change/">Change Password</a></li>
                                {% endif %}
                            {% else %}
                               <li><a href="/accounts/login/">Log In</a></li>
                            {% endif %}
                            <li><a href="/about/">About</a></li>
                            <li><a href="/help/">Help</a></li>
                            {% if user.is_authenticated %}
                                <li><a href="/contact/">Contact</a></li>
                            {% endif %}
                            {% if user.is_superuser %}
                                <li><a href="/admin/" title="Django admin (superusers only)">Admin</a></li>
                            {% endif %}
                        </ul>
                    {% endblock %}
                    <div class="visualclear"></div>
                    
               </div>
               <div id="logos">               
            		<!-- Project title/logo -->
                    <a href="/" title="Tobacco Cessation" class="pull-left">
                        <img src="{{STATIC_URL}}img/tc_logo_2014_web.png" alt="Tobacco Cessation Logo" id="tc_logo"/>
                    </a>
                    <!-- CCNMTL title/logo -->
                    <a id="logo_dental" href="http://dental.columbia.edu" target="_blank" title="Columbia University College of Dental Medicine">
                        <img src="{{STATIC_URL}}img/logo_dental.png" alt="Dental Medicine Logo" id="dental_logo" />
                    </a>
                    <a id="logo_ccnmtl" href="http://ccnmtl.columbia.edu" target="_blank" title="Columbia Center for New Media Teaching and Learning">
                        <img src="{{STATIC_URL}}img/logo_ccnmtl.png" alt="CCNMTL Logo" id="ccnmtl_logo" />
                    </a>
                </div>
             </div><!-- id="header" -->
        {% endblock %}
    
    	<!-- ###### Don't touch this ###### -->
    	<div class="visualclear"></div>
    
        {% block primarynav %}
            {% if user.is_authenticated %}
                <!-- ###### Primary navigation ###### -->
                <div class="navbar">
                  <div class="navbar-inner">
                    <div class="container">
                        <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
                        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </a>
                        
                        <ul class="nav home">
                          <li>
                            <a href="/"><img src="{{STATIC_URL}}img/home.png" alt="Home Icon" /></a>
                          </li>
                        </ul>
                        {% block extraprimarynav %}
                        {% endblock %}
                                        
                        {% block primarynavtabs %}
                        {% endblock %}
                    </div>
                  </div>
                </div>
            {% endif %}        
        {% endblock %}
    
    	<!-- ###### Page: Sidebars and Content ###### -->
    	<div id="pagebody">
            <div id="shieldbox"></div>
            
    		<!-- ###### Page Content ###### -->
    		<div id="content">
    			<div id="squish"><!-- Don't touch this div -->
    				<div class="block">
    					{% block pagetitle %}{% endblock %}
    				
    					{% block content %}{% endblock %}
    
        				<!-- ###### Don't touch this ###### -->
        				<div class="visualclear"></div><!-- id="visualclear" -->
    				
                        {% block contentnav %}
                        {% endblock %}
    
    				</div><!-- class="block" -->
    			</div><!-- id="squish" -->
    		</div><!-- id="content" -->
    
    
    		<!-- ###### Don't touch this ###### -->
    		<div class="visualclear"></div>
    	
    	</div><!-- id="pagebody" -->
        
        {% block footer %}
        	<!-- ###### Footer ###### -->
        	<div id="footer">
        	<p class="printonly"><br /><img src="{{STATIC_URL}}img/logo_ccnmtl_sidebar.gif" class="printonly" alt="sidebar" /></p>
        	</div><!-- id="footer" -->
        {% endblock %}
    </div><!-- id="container" -->
    
    <script  type="text/javascript" src="{{STATIC_URL}}js/browserdetect.js"></script>
    <script  type="text/javascript" src="{{STATIC_URL}}js/shield.js"></script>

    <script type="text/javascript">
    jQuery(document).ready(function() {
        /* Select from list: Chrome, Firefox, Safari, MSIE */
        shieldbrowser({"Chrome": 1, "Firefox": 3.6, "Safari": 4, "MSIE": 8, "Mozilla": 11 });
    });
    </script>
        
    {% block js %}{% endblock %}
    
    {% block extrajs %}{% endblock %}
    
    {% if STAGING_ENV %}
        <div class="alert alert-error"
         style="position: fixed; bottom: 0px; background-color: #fee; border: #f00 solid 1px; padding: 5px;">
            <b>STAGING SITE WARNING</b>: You are viewing a staging version of this site, not the production site. Last updated: {{STAGING_DEPLOY_TIME}}
        </div>
    {% endif %}
    
    {% if GA_CODE %}
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id={{GA_CODE}}"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', '{{GA_CODE}}', { 'anonymize_ip': true });
        </script>
    {% endif %}
</body>
</html>
