{% load getroot %}

{% comment %}
    ACTIVITIES - Standalone access to activities. faculty & superusers only
{% endcomment %}  
{% getroot faculty as root %} 

<ul class="nav pull-right">
    {% with section.slug as section_slug %}
    {% for s in root.get_descendants %}
        {% with s.depth as s_depth %}
        {% with s.slug as s_slug %}
        
            {% if s.get_children %}
                <li class="{% ifequal s_slug module.slug %}
                               active
                           {% else %}{% ifequal s_slug section_slug %}
                               active
                           {% endifequal %}{% endifequal %}
                
                           {% ifequal s_depth 2 %}
                               dropdown
                           {% else %}{% ifequal s_depth 3 %} 
                               dropdown-submenu
                           {% else %}{% ifequal s_depth 4 %}
                               nav-header 
                           {% endifequal %}{% endifequal %}{% endifequal %}">
                {% ifequal s_depth 4 %}
                    {{s.label}}
                    <ul>
                {% else %}
                    <a href="#"
                        class="dropdown-toggle"
                        data-toggle="dropdown">{{s.label}}
                        {% ifequal s_depth 2 %}<b class="caret"></b>{% endifequal %}
                    </a>
                    <ul class="dropdown-menu dropdown-menu-{{s_depth}} {{s_slug}}">
                {% endifequal %}
            {% else %}                    
                <li>
                    <a href="{{s.get_absolute_url}}">{{s.label}}</a>
                    {% if s.next.depth < s_depth %}
                        {% for lc in s.closing_children %}
                            </ul>
                        {% endfor %}
                    {% endif %}
            {% endif %}
       {% endwith %}{% endwith %}
       </li>
     {% endfor %}
     {% endwith %}
</ul>  

