{% load accessible %}
{% load getroot %}
 
<!-- .btn-navbar is used as the toggle for collapsed navbar content -->
<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
</a>
 
<!-- Everything you want hidden at 940px or less, place within here -->
<div class="nav-collapse collapse">
    {% getroot main as root %}
    <ul class="nav">
        {% for s in root.get_descendants %}
            {% if s.depth == 2 %}
                <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="{{menu_prefix}}{{s.get_absolute_url}}">
                        {{s.label}}<b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        {% for n in s.get_children %}    
                            {% if n.get_children %}
                                <li class="dropdown-submenu"><a href="{{menu_prefix}}{{n.get_absolute_url}}">{{n.label}}</a>
                                    <ul class="dropdown-menu">
                                    {% for x in n.get_children %}
                                        {% if x.get_children %}
                                            <li class="divider"></li>
                                            <li class="nav-header"><a href="{{menu_prefix}}{{x.get_absolute_url}}">{{x.label}}</a></li>
                                            {% for y in x.get_children %}
                                                <li><a href="{{menu_prefix}}{{y.get_absolute_url}}">{{y.label}}</a><li>
                                            {% endfor %}    
                                        {% else %}
                                            <li><a href="{{menu_prefix}}{{x.get_absolute_url}}">{{x.label}}</a></li>
                                        {% endif %}
                                    {% endfor %}
                                    </ul>
                            {% else %}
                                <li><a href="{{menu_prefix}}{{n.get_absolute_url}}">{{n.label}}</a>
                            {% endif %}
                        {% endfor %}
                        </li>
                    </ul>
                </li>
            {% endif %}
        {% endfor %} 
    </ul>        

    {% comment %}
        RESOURCES - The resources menu is a bit more hard-coded, as it offers
        downloadable resources + navigation to child sections.
    {% endcomment %}        
    {% getroot resources as root %} 
    {% with root.get_children.0 as s %}                   
        <ul class="nav pull-right">
            <li class="dropdown
                {% if s.slug == module.slug or s.slug == section.slug %}
                {% endif %}">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{s.label}} <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="{{ site.domain }}/main/media/pdf/TobaccoCessation_CourseGuide.pdf">Course Guide</a></li>
                    <li><a href="{{ site.domain }}/main/media/pdf/PharmacotherapyTable.pdf">Pharmacotherapy Guide</a></li>
                    <li><a href="{{ site.domain }}/main/media/pdf/CDM_Excuses_NotQuitting.pdf">Excuses For Not Quiting</a></li>
                    <li><a href="{{ site.domain }}/main/media/pdf/CDM_Examples_Empathy.pdf">Examples of Empathy</a></li>
                    <li><a href="/resources/">Videos</a></li>
                    <li class="divider"></li>
                    <li><a href="/resources/">External Resources</a></li>              
                </ul>
          </li>
        </ul>
    {% endwith %}
</div>
