{% load accessible %}

<ul class="nav">
    {% for s in root.get_descendants %}
        {% if s.get_children %}
            <li class="{% if s.slug == module.slug %}
                           active
                       {% else %}{% if s.slug == section.slug %}
                           active
                       {% endif %}{% endif %}            
                       {% if s.depth == 2 %}
                           dropdown
                       {% else %}{% if s.depth == 3 %} 
                           dropdown-submenu
                       {% else %}{% if s.depth == 4 %}
                           nav-header 
                       {% endif %}{% endif %}{% endif %}">
                {% if s.depth == 4 %}
                    {{s.label}}
                    <ul>
                {% else %}
                    <a href="#"
                        class="dropdown-toggle {% ifaccessible s %}{% else %}grayout{%endifaccessible %}"
                        data-toggle="dropdown">{{s.label}}
                        {% if s.depth == 2 %}<b class="caret"></b>{% endif %}
                    </a>
                    <ul class="dropdown-menu dropdown-menu-{{s.depth}} {{s.slug}}">
                {% endif %}        
        {% else %}
            <li>
                {% ifaccessible s %}
                    <a href="{{s.get_absolute_url}}">{{s.label}}</a>
                {% else %}
                    <span>{{s.label}}</span>
                {% endifaccessible %}        
            </li>                    
            {% if s.is_last_child %}
                {% for lc in s.closing_children %}
                    {% if lc.depth > 2 %}</ul></li>{% endif %}
                {% endfor %}
            {% endif %}
        {% endif %}
    {% endfor %}
 </ul>
