{% load smartif %}
{% load accessible %}
{% comment %}
{% if selected_parent.get_children_count %}


<ul>
      {% for s in selected_parent.get_children %}
	      {% ifequal section.id s.id %}
              <li class="selected"><span class="selected">{{s.label}}</span></li>
          {% else %}{% if section in s.get_descendants %}
              <li class="selected"><span class="selected">{{s.label}}</span></li>
          {% else %}
              <li>
                 {% ifaccessible s %}
                    <a id="{{s.slug}}" href="{{menu_prefix}}{{s.get_absolute_url}}">{{s.label}}</a>
                    <span id="span_{{s.slug}}" style="display: none" class="disabled_link">{{s.label}}</span>
                 {% else %}
                    <a id="{{s.slug}}" style="display: none" href="{{menu_prefix}}{{s.get_absolute_url}}">{{s.label}}</a>
                    <span id="span_{{s.slug}}" class="disabled_link">{{s.label}}</span>
                 {% endifaccessible %}
              </li> 
           {% endif %}{% endifequal %}
      {% endfor %}
</ul>


{% endif %}
{% endcomment %}

    

