{% load getroot %}

{% comment %}
    RESOURCES - The resources menu is a bit more hard-coded, as it offers
    downloadable resources + navigation to child sections.
{% endcomment %}  
{% getroot resources as root %} 
{% with root.get_children.0 as s %}             
    <ul class="nav pull-right">
        <li class="dropdown
            {% if s.slug == module.slug %}
                active
            {% else %}{% if s.slug == section.slug %}
                active
            {% endif %}{% endif %}">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Resources <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li><a href="https://www1.columbia.edu/sec/ccnmtl/remote/static/tobaccocessation/TobaccoCessation_CourseGuide_{{profile.role|capfirst}}.pdf" target="_blank" >Course Guide</a></li>
                
                {% if profile.role == "main" %}
                    <li><a href="https://www1.columbia.edu/sec/ccnmtl/remote/static/tobaccocessation/PharmacotherapyTable_Main.pdf" target="_blank" >Pharmacotherapy Guide</a></li>
                {% else %}
                    <li><a href="https://www1.columbia.edu/sec/ccnmtl/remote/static/tobaccocessation/PharmacotherapyTable.pdf" target="_blank" >Pharmacotherapy Guide</a></li>
                {% endif %}
                
                <li><a href="https://www1.columbia.edu/sec/ccnmtl/remote/static/tobaccocessation/CDM_Excuses_NotQuitting.pdf" target="_blank" >Excuses For Not Quiting</a></li>
                <li><a href="https://www1.columbia.edu/sec/ccnmtl/remote/static/tobaccocessation/CDM_Examples_Empathy.pdf" target="_blank" >Examples of Empathy</a></li>
                <li><a href="/pages/resources/all/videos/">Videos</a></li>
                
                <li class="divider"></li>
                <li><a href="/pages/resources/external/">Provider Resources</a></li>

                {% if profile.is_role_faculty or user.is_superuser %}
                    <li class="divider"></li>
                    <li><a href="https://www1.columbia.edu/sec/ccnmtl/remote/static/tobaccocessation/instructorguide.pdf">Instructor Guide</a></li>
                    <li><a href="/pages/faculty/">Standalone Activities</a></li>
                    
                    {% if user.is_superuser %}
                        <li><a href="/main/report/">Reporting</a></li>
                    {% endif %} 
                {% endif %}
            </ul>
      </li>
    </ul>
{% endwith %}