{% load accessible %}
{% load getroot %}

<!-- .btn-navbar is used as the toggle for collapsed navbar content -->
<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
</a>
 
<!-- Everything you want hidden at 940px or less, place within here -->
<div class="nav-collapse collapse">
    <ul class="nav">
        {% with section.slug as section_slug %}
        {% for s in root.get_descendants %}
            {% with s.depth as s_depth %}
            {% with s.slug as s_slug %}
            
                {% if s.get_children %}
                    <li class="{% ifequal s_slug module.slug %}
                                   active
                               {% else %}{% ifequal s_slug section_slug %}
                                   active
                               {% endifequal %}{% endifequal %}
                    
                               {% ifequal s_depth 2 %}
                                   dropdown
                               {% else %}{% ifequal s_depth 3 %} 
                                   dropdown-submenu
                               {% else %}{% ifequal s_depth 4 %}
                                   nav-header 
                               {% endifequal %}{% endifequal %}{% endifequal %}">
                    {% ifequal s_depth 4 %}
                        {{s.label}}
                        <ul>
                    {% else %}
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{s.label}}<b class="caret"></b></a>
                        <ul class="dropdown-menu dropdown-menu-{{s_depth}}">
                    {% endifequal %}
                {% else %}                    
                   <li><a href="{{hierarchy.get_absolute_url}}{{s.id}}/">{{s.label}}</a>
                    {% if s.next.depth < s_depth %}
                        {% for lc in s.closing_children %}
                            </ul>
                        {% endfor %}
                    {% endif %}
               {% endif %}
           {% endwith %}{% endwith %}
           </li>
         {% endfor %}
         {% endwith %}
    </ul>  

    {% comment %}
        RESOURCES - The resources menu is a bit more hard-coded, as it offers
        downloadable resources + navigation to child sections.
    {% endcomment %}  
    {% getroot resources as root %} 
    {% with root.get_children.0 as s %}                   
        <ul class="nav pull-right">
            <li class="dropdown
                {% ifequal s.slug module.slug %}
                    active
                {% else %}{% ifequal s.slug section.slug %}
                    active
                {% endifequal %}{% endifequal %}">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{s.label}} <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="{{ site.domain }}/main/media/pdf/TobaccoCessation_CourseGuide.pdf">Course Guide</a></li>
                    <li><a href="{{ site.domain }}/main/media/pdf/PharmacotherapyTable.pdf">Pharmacotherapy Guide</a></li>
                    <li><a href="{{ site.domain }}/main/media/pdf/CDM_Excuses_NotQuitting.pdf">Excuses For Not Quiting</a></li>
                    <li><a href="{{ site.domain }}/main/media/pdf/CDM_Examples_Empathy.pdf">Examples of Empathy</a></li>
                    <li><a href="/resources/">Videos</a></li>
                    <li class="divider"></li>
                    <li><a href="/resources/">External Resources</a></li>              
                </ul>
          </li>
        </ul>
    {% endwith %}
</div>
