#feedback {

	display:block;
	height:209px;
	margin: -13px 0 0 -55px;
	*margin: -173px 0 0 -55px;

	

}

#callout_container {

	float: left;
	left: 25px;
	margin-top:-40px;
	position:absolute;

}

.callout {
	font-size: 80%;
	line-height: 120%;
   background-color: #efc48d;
    margin: 3px;
   padding: 5px;
   width: 170px;
   border: 1px solid #eaa141;

}

#answer_container1 {
	float: left;
	position:relative;
	top:-174px;
	width:200px;
	*left: -733px;
	*top: 176px;
	
}

#answer_container2 {
	float: left;
	margin-left: 180px;
	position:relative;
	top:-174px;
	width:200px;
	*left: -530px;
	*top: 12px;
}

.correct_answer {
   font-size: 80%;
   line-height: 120%;
   background-color: #ddd;
   color: #4F8A10;
   border: 1px solid #4F8A10;
   padding: 2px 4px;
     width: 145px;
}

.connecting_line
{
   position: absolute;
   margin: 0;
   padding: 0;
   background-color: white;
   z-index: 20;
   border-bottom: 1px solid #eaa141;

}

#blankrx {
   background-image: url(/activity/prescription/media/images/double_blankrx_sm.jpg);
   height: 221px;
  background-repeat: no-repeat;
   background-position: top left;
   padding: 244px 0 0 55px;
   width: 730px;
   float: left;
}


#rx_fields1 {
     float: left;
     width: 323px;

}

#rx_fields2 {
     float: left;
     width: 323px;
     margin-left: 57px;
    *margin-left: 30px;

}

#dosage, #disp, #dosage_2, #disp_2 {
    height: 10px;
	margin-bottom: 3px;
    border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

#sig, #sig_2 {
	height: 55px;
	overflow: auto;
	width: 207px;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	*width: 163px;
}

#refills, #refills_2 {
    height: 10px;
    margin: 30px 0 0 45px;     
    width: 31px;
    text-align: right;
}

#dosage_correct, #dosage_2_correct {
   position: relative;
   margin: 0px 0 3px 215px;

}

#disp_correct, #disp_2_correct {
   position: relative;  
    margin: 3px 0 2px 215px;

}

#sig_correct, #sig_2_correct {
   position: relative;  
   margin: 3px 0 2px 242px;
   *margin: 5px 0 2px 232px;

}

#refills_correct, #refills_2_correct {
	left:155px;
	position:absolute;
	top:151px;
	width:44px;
	*top:144px;

}



#refills_callout {
	
	position:absolute;
	top:170px;


}







