#callout_container {
    float:left;
    left: 150px;
    margin-top:-23px;
    position:absolute;
}

.callout {
    font-size: 80%;
    line-height: 120%;
    background-color: #efc48d;
    margin: 3px;
    padding: 5px;
    width: 170px;
    border: 1px solid #eaa141;
}

#answer_container {
    float: left;
    margin-top:-20px;
}

.correct_answer {
    font-size: 80%;
    line-height: 120%;
    background-color: #ddd;
    color: #4F8A10;
    border: 1px solid #4F8A10;
    padding: 2px 4px;
    width: 160px;
}

.connecting_line
{
   position: absolute;
   margin: 0;
   padding: 0;
   background-color: white;
   z-index: 20;
   border-bottom: 1px solid #eaa141;

}

#blankrx {
   height: 221px;
   background-image: url(/activity/prescription/media/images/blankrx_sm.jpg);
   background-repeat: no-repeat;
   background-position: top center;
   padding: 244px 0 0 349px;
   position: relative;
}


#dosage, #disp {
    height: 10px;
    margin-bottom: 3px;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

#sig {
    height: 55px;
    overflow: auto;
    width: 207px;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

#refills {
    height: 10px;
    margin: 30px 0 0 45px; 
    width: 31px; 
    text-align: right;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

#feedback {

    display:block;
    height:209px;
    margin: -151px 0 0 -55px;
}

#dosage_correct {
   position: relative;
   margin: 0px 0 3px 280px;
}

#disp_correct {
    position: relative;  
    margin: 4px 0 2px 280px;
}

#sig_correct {
   position: relative;  
   margin: 4px 0 2px 280px;
}

#refills_correct {
    position: absolute;
    width: 44px;
    top: 397px;
    left: 446px;
}

#refills_callout {
    position: absolute;
    top: 140px;
}