{% load user_state %}

{% gettreatments block as treatments %}
{% with block.patient as patient %}

<div class="virtualpatient treatment-options">
    <h5>Step 1: Based on the patient history below, classify each treatment option as appropriate, unlikely to be effective <br/>
    or potentially harmful. Choose at least one to be an Appropriate Treatment Choice.</h5>
      
    <div class="row-fluid">
        <div class="span6 well about-patient">
            <h3>Patient History</h3>
            <img class="pull-left" src="/activity/virtualpatient/media/images/patient_{{patient.id}}.jpg" />
            <div class="patient-description">                
                <h4>{{patient.name}}</h4>
                <h5>{% autoescape off %}{{ patient.description }}{% endautoescape %} </h5> 
            </div>
            <div class="visualclear"></div>        
            <div class="patient-history">
                {% autoescape off %}{{patient.history}}{% endautoescape %}
            </div>
        </div>
    
        <div class="span6 treatment-classification">
            <div class="row-fluid">
                <div class="span4 offset1 available-treatments">
                  {% for med in treatments %}
                     <div class="{{med.tag}} available-treatment">
                        <img src="/activity/virtualpatient/media/images/{{med.tag}}.jpg">
                     </div>
                  {% endfor %}       
                </div>
                <div class="span2 appropriate-treatment-choice">
                    <div class="header">Appropriate Treatment Choice</div>
                    {% for med in treatments %}
                        <div class="{{med.tag}} treatment-type">
                            <input name="pageblock-{{block.pageblock.id}}-{{med.tag}}" value="appropriate" type="radio"
                            {% ifequal med.classification "appropriate" %}
                                checked="checked"
                            {% endifequal %} />  
                        </div>
                    {% endfor %}
                </div>
                <div class="span2 unlikely-to-be-effective">
                    <div class="header">Unlikely To Be Effective</div>
                    {% for med in treatments %}
                        <div class="{{med.tag}} treatment-type">
                            <input name="pageblock-{{block.pageblock.id}}-{{med.tag}}" value="ineffective" type="radio"
                                {% ifequal med.classification "ineffective" %}
                                    checked="checked"
                                {% endifequal %} />                        
                        </div>
                    {% endfor %}                        
                </div>
                <div class="span2 potentially-harmful">
                    <div class="header">Potentially Harmful</div>
                    {% for med in treatments %}
                        <div class="{{med.tag}} treatment-type">
                            <input name="pageblock-{{block.pageblock.id}}-{{med.tag}}" value="harmful" type="radio"
                                {% ifequal med.classification "ineffective" %}
                                    checked="checked"
                                {% endifequal %} />
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endwith %}
