{% if block.view == block.CLASSIFY_TREATMENTS %}
    {% include "activity_virtual_patient/options.html" %}
{% else %}{% if block.view == block.BEST_TREATMENT_OPTION %}
    {% include "activity_virtual_patient/selection.html" %}
{% else %}{% if block.view == block.WRITE_PRESCRIPTION %}
    {% include "activity_virtual_patient/prescribe.html" %}
{% else %}{% if block.view == block.VIEW_RESULTS %}
    {% include "activity_virtual_patient/results.html" %}
{% endif %}{% endif %}{% endif %}{% endif %}


{% if not needs_submit or is_submitted %}
    <br />
    <form action="/activity/virtualpatient/reset/{{section.id}}/{{block.patient.id}}/" method="post" class="pull-left">
        <input type="hidden" name="action" value="reset" />
        <input type="submit" value="Reset Patient Assessment" class="btn" />
    </form>
{% endif %}