{% if medicine.rx_count == 1 %}
    <div class="blankrx_single">        
        <div class="prompt dosage">Dosage</div> 
        <div class="prompt quantity">Quantity to Dispense</div>
        <div class="prompt instructions">Patient Instructions</div>
        <div class="prompt refills">Refills</div>
        
        <div class="patient-name">{{patient.name}}</div>
        <div class="date">{% now "n/j/Y" %}</div>
        <div class="gender {{patient.gender}}">X</div>
          
        <div class="med_name">{{ medicine.name }}, &nbsp; </div>
      
        <select name="pageblock-{{block.pageblock.id}}-concentration-{{medicine.choices.0.id}}" class="field concentration">
              <option value="-----">-----</option>
	          {% for cc in medicine.choices.0.concentrationchoice_set.all|dictsort:"display_order"  %}
	            {% if cc.id == medicine.choices.0.selected_concentration %}
	               <option selected="selected" value="{{cc.id}}">{{cc.concentration}}</option>
	            {% else %}
	               <option value="{{cc.id}}">{{cc.concentration}}</option>
	            {% endif %}
	          {% endfor %}
	    </select>

        <select name="pageblock-{{block.pageblock.id}}-dosage-{{medicine.choices.0.id}}" class="field dosage">
          <option value="-----">-----</option>
          {% for dc in medicine.choices.0.dosagechoice_set.all|dictsort:"display_order"  %}
             {% if dc.id == medicine.choices.0.selected_dosage %}
               <option selected="selected" value="{{dc.id}}">{{dc.dosage}}</option>
             {% else %}
               <option value="{{dc.id}}">{{dc.dosage}}</option>
             {% endif %}
          {% endfor %}
        </select>

        <div class="field med_inst">
            {% autoescape off %}
            {{ medicine.choices.0.instructions }}
            {% endautoescape %}
        </div>

        <div class="field refills">{{medicine.choices.0.refillchoice_set.all.0.refill}}</div>
    </div>
{% else %}
    <!--  Double Prescription -->
    <div class="blankrx_double">
        <!--  RX 1 -->
        <div class="prompt dosage">Dosage</div> 
        <div class="prompt quantity">Quantity to Dispense</div>
        <div class="prompt instructions">Patient Instructions</div>
        <div class="prompt refills">Refills</div>
        
        <div class="patient-name">{{patient.name}}</div>
        <div class="date">{% now "n/j/Y" %}</div>
        <div class="gender {{patient.gender}}">X</div>
          
        <div class="med_name">{{ medicine.name }}, &nbsp; </div>
      
        <select name="pageblock-{{block.pageblock.id}}-concentration-{{medicine.choices.0.id}}" class="field concentration">
              <option value="-----">-----</option>
              {% for cc in medicine.choices.0.concentrationchoice_set.all|dictsort:"display_order"  %}
                {% if cc.id == medicine.choices.0.selected_concentration %}
                   <option selected="selected" value="{{cc.id}}">{{cc.concentration}}</option>
                {% else %}
                   <option value="{{cc.id}}">{{cc.concentration}}</option>
                {% endif %}
              {% endfor %}
        </select>

        <select name="pageblock-{{block.pageblock.id}}-dosage-{{medicine.choices.0.id}}" class="field dosage">
          <option value="-----">-----</option>
          {% for dc in medicine.choices.0.dosagechoice_set.all|dictsort:"display_order"  %}
             {% if dc.id == medicine.choices.0.selected_dosage %}
               <option selected="selected" value="{{dc.id}}">{{dc.dosage}}</option>
             {% else %}
               <option value="{{dc.id}}">{{dc.dosage}}</option>
             {% endif %}
          {% endfor %}
        </select>

        <div class="field med_inst">
            {% autoescape off %}
            {{ medicine.choices.0.instructions }}
            {% endautoescape %}
        </div>

        <div class="field refills">{{medicine.choices.0.refillchoice_set.all.0.refill}}</div>
        
        <!--  RX 2 -->
        <div class="patient-name two">{{patient.name}}</div>
        <div class="date two">{% now "n/j/Y" %}</div>
        <div class="gender two {{patient.gender}}">X</div>
          
        <div class="med_name two">{{ medicine.name }}, &nbsp; </div>
      
        <select name="pageblock-{{block.pageblock.id}}-concentration-{{medicine.choices.1.id}}" class="field concentration two">
              <option value="-----">-----</option>
              {% for cc in medicine.choices.1.concentrationchoice_set.all|dictsort:"display_order"  %}
                {% if cc.id == medicine.choices.1.selected_concentration %}
                   <option selected="selected" value="{{cc.id}}">{{cc.concentration}}</option>
                {% else %}
                   <option value="{{cc.id}}">{{cc.concentration}}</option>
                {% endif %}
              {% endfor %}
        </select>

        <select name="pageblock-{{block.pageblock.id}}-dosage-{{medicine.choices.1.id}}" class="field dosage two">
          <option value="-----">-----</option>
          {% for dc in medicine.choices.1.dosagechoice_set.all|dictsort:"display_order"  %}
             {% if dc.id == medicine.choices.1.selected_dosage %}
               <option selected="selected" value="{{dc.id}}">{{dc.dosage}}</option>
             {% else %}
               <option value="{{dc.id}}">{{dc.dosage}}</option>
             {% endif %}
          {% endfor %}
        </select>

        <div class="field med_inst two">
            {% autoescape off %}
            {{ medicine.choices.1.instructions }}
            {% endautoescape %}
        </div>

        <div class="field refills two">{{medicine.choices.1.refillchoice_set.all.0.refill}}</div>        
    </div>
{% endif %}