{% load user_state static %}

{% gettreatments block as treatments %}
{% with block.patient as patient %}

<div class="virtualpatient treatment-selection">    
    <h5>Step 2: Based upon your previous rationale, choose treatment(s) to actually prescribe for this patient.</h5>
      
    <div class="row-fluid">
        <div class="span6 well about-patient">
            <h3>Patient History</h3>
            <img class="pull-left" src="{% static url %}virtualpatient/images/patient_{{patient.display_order}}.jpg" />
            <div class="patient-description">                
                <h4>{{patient.name}}</h4>
                <h5>{% autoescape off %}{{ patient.description }}{% endautoescape %} </h5> 
            </div>
            <div class="visualclear"></div>        
            <div class="patient-history">
                {% autoescape off %}{{patient.history}}{% endautoescape %}
            </div>
        </div>
    
        <div class="span6 treatment-prescription">
            <b>From your more appropriate treatment choices, click one to prescribe:</b>
            {% for med in treatments %}
                {% if med.classification == "appropriate" %}
                    <div class="treatment-type">
                        <input name="pageblock-{{block.pageblock.id}}-prescribe" value="{{med.tag}}" type="radio"
                        {% if med.prescribe %}
                            checked="checked" disabled="disabled"
                        {% endif %} />&nbsp;
                        <img src="{% static url %}virtualpatient/images/{{med.tag}}.jpg">  
                    </div>
                {% endif %}
            {% endfor %}
            
            <div class="combination-therapy" style="display: none">
                <b>Now select two therapies to combine:</b>
                {% for med in treatments %}
                    {% if med.tag != "combination" %}
                        <div class="treatment-type">
                            <input name="pageblock-{{block.pageblock.id}}-combination" value="{{med.tag}}" type="checkbox"
                            {% if med.combination %}
                                checked="checked" disabled="disabled"
                            {% endif %} /> &nbsp;
                            <img src="{% static url %}virtualpatient/images/{{med.tag}}.jpg">   
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endwith %}
