{% extends "activity_virtual_patient/virtual_patient_base.html" %}

{% block title %}Virtual Patient {{ patient.display_order }}: Select Best Treatment Option{% endblock %}

{% block extrajs %}
   {{ block.super }}
   <script type="text/javascript" src="/activity/virtualpatient/media/js/selection.js"></script>
{% endblock %}

{% block content %}
    {{ block.super }} 
    
     <a class="reset_button" href="{% url "reset" patient.id %}" onclick="clearState(); return false;">Reset&nbsp;Exercise</a>
   <h2>Virtual Patient {{ patient.display_order }}: Select Best Treatment Option</h2>
    <h5>Step 2: Based upon your previous rationale, choose treatment(s) to actually prescribe for this patient.</h5> 
    <div id="patient">
      <div id="about_patient">
            <div id="patient_description">
            <img src="/activity/virtualpatient/media/images/patient_{{patient.id}}.jpg" />
            <h3>{{patient.name}}</h3>
             <h4>{% autoescape off %}{{ patient.description }}{% endautoescape %} </h4> 
            </div>
               <h6>Patient History</h6>
             <div id="patient_history">{% autoescape off %}{{patient.history}}{% endautoescape %}</div>
            
      </div>
    
      <input type="hidden" id="patient_id" name="patient_id" value="{{patient.id}}"></input>
      <input type="hidden" id="page_id" name="page_id" value="{{page_id}}"></input>
    </div>
    <br /> <h4>Your Treatment Classifications</h4> 
    <div id="treatment_types">
       <div class="treatment_type_box">
	       <center>
		       <h5>Best Treatment Choice(s)</h5>
		       <div id="best_treatment" class="treatment_type treatment_droppable best">
		          {% for tag in patient_state.best_treatment %}
		             {% ifequal tag patient_state.prescribe %} <!-- highlight the selection -->  
						    <span  id="{{tag}}" class="{{tag}} treatment_draggable highlight" onclick="onSelectBestTreatment(this); return false;">
						 {% else %}
						    {% if patient_state.prescribe %} <!--  another choice is selected. gray this one -->
						       <span  id="{{tag}}" class="{{tag}} treatment_draggable" onclick="onSelectBestTreatment(this); return false;">
						    {% else %} <!-- just treat it normally -->
						       <span  id="{{tag}}" class="{{tag}} treatment_draggable" onclick="onSelectBestTreatment(this); return false;">
						    {% endif %}
		             {% endifequal %}
					      <img src="/activity/virtualpatient/media/images/{{tag}}.jpg">
		             </span>
					    
				    {% endfor %}
				    <br style="clear: both;" />
		       </div>
	       </center>
       </div>
       <div class="directions_box">
            <div id="combination_directions" style="{% ifnotequal patient_state.prescribe 'combination' %}display:none{%endifnotequal%}"><h5><b>Now select two therapies below to combine.</b></h5></div>
            <div id="singletreatment_directions" style="{% ifequal patient_state.prescribe 'combination' %}display:none{%endifequal%}"><h5>From your selected "Best Treatment Choice(s)" at left:<br /><b>Click one treatment to prescribe.</b></h5></div>
       </div>
    </div>
    
    <br />
    <br />
    
    <div id="available_treatments_box" style="{% ifnotequal patient_state.prescribe 'combination' %} display:none {% endifnotequal %}">
       <br /> <h4>Treatments To Combine: <span id="treatments_to_combine">{{treatments_to_combine}}</span></h4>  
       <span id="available_treatments" class="treatment_droppable">
         
         {% for tag in medications %}
            {% ifequal tag patient_state.combination.0 %} <!-- highlight selected treatments -->
                <span id='{{tag}}_combo' class='padded_image highlight {{tag}} treatment_draggable' onclick="onSelectCombinationTreatment(this); return false;">
            {% else %}
	            {% ifequal tag patient_state.combination.1 %} <!--  highlight selected treatments -->
                  <span id='{{tag}}_combo' class='padded_image highlight {{tag}} treatment_draggable' onclick="onSelectCombinationTreatment(this); return false;">
	            {% else %}
	               {% if patient_state.combination.1 %} <!-- two other choices were selected. gray this one out -->
		               <span id='{{tag}}_combo' class='padded_image {{tag}} treatment_draggable' onclick="onSelectCombinationTreatment(this); return false;">
		            {% else %} <!-- view normally -->
		               <span id='{{tag}}_combo' class='padded_image {{tag}} treatment_draggable' onclick="onSelectCombinationTreatment(this); return false;">
		            {% endif %}
	            {% endifequal %}
            {% endifequal %}
		           <img src='/activity/virtualpatient/media/images/{{ tag }}.jpg'>
		          </span>
         {% endfor %}
      </span>
    </div>
{% endblock %}