{% extends "base.html" %}
{% load smartif %}

{% block extrahead %}
   {{ block.super }}
   <link href="/activity/virtualpatient/media/css/virtualpatient.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block js %}
   {{ block.super }}
   <script type="text/javascript" src="/site_media/js/mochikit/MochiKit/MochiKit.js"></script>
   <script type="text/javascript" src="/site_media/js/mochikit/MochiKit/Visual.js"></script>
   <script type="text/javascript" src="/site_media/js/mochikit/MochiKit/DragAndDrop.js"></script>
   <script type="text/javascript" src="/site_media/js/json2.js"></script>
{% endblock %}

{% block extrajs %}
   {{ block.super }}
   <script type="text/javascript" src="/activity/virtualpatient/media/js/virtualpatient.js"></script>
{% endblock %}

{% block primarynavtabs %}
    {% if user.is_authenticated %}
        {% include "susans_new_project_primary_nav.html" %}
    {% endif %}
{% endblock %}

