{% extends 'base.html' %}
{% block js %}
<script type="text/javascript" src="/site_media/js/mochikit/MochiKit/MochiKit.js"></script>
<script type="text/javascript" src="/site_media/js/dragdropreorder.js"></script>

<script type="text/javascript">
var saveOrder = function() {
    var url = "{% url reorder-answer question.id %}?";
    var p = $('answers');
    var lis = p.getElementsByTagName('li');
    var cnt = 0;
    for (var i = 0; i < lis.length; i++) {
        var li = lis[i];
        var id = li.id;
        var parts = id.split("-");
        url += "answer_" + i + "=" + parts[1] + ";";
        cnt++;
    }
    if (cnt > 1) {
        var req = new XMLHttpRequest();
        req.open("POST",url,true);
        req.send(null);
    }
};

</script>

{% endblock %}
{% block content %}

<h2><a href="{% url edit-quiz question.quiz.id %}">Quiz</a> Question {{question.ordinality}}: {{ question.text }}</h2>

<ul class="dragparent" id="answers">
{% for answer in question.answer_set.all %}
<li class="draggable" id="answer-{{answer.id}}">
[<a href="{% url delete-answer answer.id %}">delete</a>] 
Answer {{ answer.ordinality }}: 
<a href="{% url edit-answer answer.id %}">{{answer.label}}</a></li>
{% endfor %}
</ul>

<form action="add_answer/" method="post">
<table width="100%">
{{ question.add_answer_form.as_table}}
</table>
<input type="submit" value="add answer" />
</form>
{% endblock %}
