{% extends 'base.html' %}

{% block js %}
<script type="text/javascript" src="/site_media/js/mochikit/MochiKit/MochiKit.js"></script>
<script type="text/javascript" src="/site_media/js/dragdropreorder.js"></script>

<script type="text/javascript">
var saveOrder = function() {
    var url = "{% url reorder-questions quiz.id %}?";
    var p = $('questions');
    var lis = p.getElementsByTagName('li');
    var cnt = 0;
    for (var i = 0; i < lis.length; i++) {
        var li = lis[i];
        var id = li.id;
        var parts = id.split("-");
        url += "question_" + i + "=" + parts[1] + ";";
        cnt++;
    }
    if (cnt > 1) {
        var req = new XMLHttpRequest();
        req.open("POST",url,true);
        req.send(null);
    }
};

</script>

{% endblock %}

{% block content %}
<h2><a href="/edit{{section.get_absolute_url}}">{{section.label}}</a>: {{quiz.pageblock.label}}</h2>

<ul id="questions" class="dragparent">
{% for question in quiz.question_set.all %}
<li class="draggable" id="question-{{question.id}}">
[<a href="{% url delete-question question.id %}">delete</a>] 
Question {{ question.ordinality }}: 
<a href="{% url edit-question question.id %}">{{question.text|truncatewords:20}}</a></li>
{% endfor %}
</ul>

<form action="add_question/" method="post">
<table width="100%">
{{ quiz.add_question_form.as_table}}
</table>
<input type="submit" value="add question" />
</form>
{% endblock %}

{% block sidenav %}
{% with "/edit" as menu_base %}
{% include "labs/menu.html" %}
{% endwith %}
{% endblock %}
