#blankrx {
   height: 600px;
   background-image: url(/activity/prescription/media/images/double_blankrx.jpg);
   background-repeat: no-repeat;
   background-position: center;
}

#dosage {
	position: absolute;
   width: 154px;
	left: 100px;
   top: 570px;
}

#dosage_correct {
   position: absolute;
   width: 150px;
   left: 265px;
   top: 570px;
}

#dosage_2 {
   position: absolute;
   width: 154px;
   left: 513px;
   top: 570px;
}

#dosage_2_correct {
   position: absolute;
   width: 150px;
   left: 680px;
   top: 570px;
}

#dosage_callout {
   position: absolute;  
   width: 155px;
   left: 93px;
   top: 450px; 
}

#disp {
   position: absolute;	
   width: 154px;
   left: 100px;
   top: 595px;
}

#disp_correct {
   position: absolute;  
   width: 150px;
   left: 265px;
   top: 595px;
}

#disp_2 {
   position: absolute;  
   width: 154px;
   left: 513px;
   top: 595px;
}

#disp_2_correct {
   position: absolute;  
   width: 150px;
   left: 680px;
   top: 595px;
}


#disp_callout {
   position: absolute;  
   width: 150px;
   left: 507px;
   top: 425px; 
}

#sig {
   position: absolute;  
   left: 100px;
   top: 620px;	
}

#sig_correct {
   position: absolute;  
   left: 265px;
   top: 620px;
   width: 150px; 
}

#sig_2 {
   position: absolute;  
   left: 513px;
   top: 620px; 
}

#sig_2_correct {
   position: absolute;  
   left: 680px;
   top: 620px;
   width: 150px; 
}

#refills {
   position: absolute;  
	width: 45px;
   left: 154px;
   top: 713px; 
   text-align: right;
}

#refills_correct {
   position: absolute;  
   width: 25px;
   left: 210px;
   top: 715px; 
}

#refills_2 {
   position: absolute;  
   width: 45px;
   left: 565px;
   top: 713px; 
}

#refills_2_correct {
   position: absolute;  
   width: 25px;
   left: 620px;
   top: 715px; 
}

#refills_callout {
   position: absolute;  
   width: 200px;
   left: 485px;
   top: 760px; 
}

#rxsubmit {
   position: absolute;  
	width: 100px;
   left: 770px;
   top: 825px; 
}

