.callout {
	font-size: 80%;
	line-height: 120%;
   background-color: #dedede;
    margin: 3px;
   padding: 5px;
   width: 220px;
   position: relative;
   margin-left: 475px;
}

.correct_answer {
  font-size: 80%;
   line-height: 150%;
   background-color: #ddd;
   color: #4F8A10;
   border: 1px solid #4F8A10;
   padding-left: 3px;
}

.connecting_line
{
   position: absolute;
   margin: 0;
   padding: 0;
   background-color: white;
   z-index: 20;
   background-image: url(/activity/prescription/media/images/reddot.png);
   background-repeat: repeat;
}

#blankrx {
   background-image: url(/activity/prescription/media/images/double_blankrx_sm.jpg);
   height: 209px;
  background-repeat: no-repeat;
   background-position: top left;
   padding: 256px 0 0 55px;
}

#dosage, #disp, #sig {

	margin-bottom: 3px;
}


#dosage {

}

#dosage_correct {
   position: absolute;
   width: 150px;
   left: 265px;
   top: 570px;
}

#dosage_2 {

}

#dosage_2_correct {

}

#dosage_callout {

}

#disp {

}

#disp_correct {
  
}

#disp_2 {

}

#disp_2_correct {
 
}


#disp_callout {

}

#sig {

}

#sig_correct {

}

#sig_2 {

}

#sig_2_correct {

}



#refills_correct {

}

#refills_2 {

}

#refills_2_correct {

}

#refills_callout {

}

#rxsubmit {

}





#refills {
   margin: 50px 0px 0 76px; 
   width: 45px; 
   text-align: right;
}

#feedback {

	display:block;
	height:209px;
	margin: -414px 0 0 -55px;
	padding: 256px 0 0 0px;
	

}

#dosage_correct {
   position: relative;
   width: 185px;
   margin: 3px 0 2px 420px;

}

#disp_correct {
   position: relative;  
   width: 185px;
    margin: 8px 0 2px 420px;

}

#sig_correct {
   position: relative;  
   width: 185px; 
    margin: 8px 0 2px 456px;

}

#refills_correct {
   position: relative;  
   width: 70px; 
    margin: 65px 0 2px 394px;

}

#dosage_callout {


margin-top: -200px;
}

#disp_callout {


}

#refills_callout {


}







