.callout {
	font-size: 80%;
	line-height: 120%;
   background-color: #dedede;
    margin: 3px;
   padding: 5px;
   width: 220px;
   position: relative;
   margin-left: 475px;
}

.correct_answer {
   font-size: 80%;
   line-height: 150%;
   background-color: #ddd;
   color: #4F8A10;
   border: 1px solid #4F8A10;
   padding-left: 3px;
}

.connecting_line
{
   position: absolute;
   margin: 0;
   padding: 0;
   background-color: white;
   z-index: 20;
   background-image: url(/activity/prescription/media/images/reddot.png);
   background-repeat: repeat;
}

#blankrx {
   height: 209px;
   background-image: url(/activity/prescription/media/images/blankrx_sm.jpg);
   background-repeat: no-repeat;
   background-position: top left;
   padding: 256px 0 0 55px;
   
}

#dosage, #disp, #sig {

	margin-bottom: 3px;
}



#refills {
   margin: 37px 0 0 47px; 
   width: 40px; 
   text-align: right;
}

#feedback {

	display:block;
	height:209px;
	margin: -414px 0 0 -55px;
	padding: 256px 0 0 0px;
	

}

#dosage_correct {
   position: relative;
   width: 185px;
   margin: 0px 0 2px 215px;

}

#disp_correct {
   position: relative;  
   width: 185px;
    margin: 6px 0 2px 215px;

}

#sig_correct {
   position: relative;  
   width: 185px; 
    margin: 6px 0 2px 274px;

}

#refills_correct {
   position: relative;  
   width: 64px; 
    margin: 30px 0 2px 157px;

}

#dosage_callout {


margin-top: -200px;
}

#disp_callout {


}

#refills_callout {


}







