#callout_container {

	float:left;
	left: 25px;
	margin-top:-15px;
	position:absolute;

}

.callout {
	font-size: 80%;
	line-height: 120%;
   background-color: #efc48d;
    margin: 3px;
   padding: 5px;
   width: 170px;
   border: 1px solid #eaa141;

}

#answer_container {
     float: left;
}

.correct_answer {
   font-size: 80%;
   line-height: 120%;
   background-color: #ddd;
   color: #4F8A10;
   border: 1px solid #4F8A10;
   padding: 2px 4px;
     width: 145px;

}

.connecting_line
{
   position: absolute;
   margin: 0;
   padding: 0;
   background-color: white;
   z-index: 20;
   border-bottom: 1px solid #eaa141;

}

#blankrx {
   height: 209px;
   background-image: url(/activity/prescription/media/images/blankrx_sm.jpg);
   background-repeat: no-repeat;
   background-position: top left;
   padding: 256px 0 0 55px;
   
}

#dosage, #disp {

	margin-bottom: 3px;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

#sig {

	height: 43px;
	overflow: auto;
	width: 212px;
		border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;

}



#refills {
   margin: 38px 0 0 45px; 
   width: 40px; 
   text-align: right;
   	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

#feedback {

	display:block;
	height:209px;
	margin: -151px 0 0 -55px;

	

}

#dosage_correct {
   position: relative;
   margin: 0px 0 3px 215px;

}

#disp_correct {
   position: relative;  
    margin: 3px 0 2px 215px;

}

#sig_correct {
   position: relative;  
   margin: 3px 0 2px 278px;

}

#refills_correct {
	left:371px;
	position:absolute;
	top:651px;
	width:64px;

}



#refills_callout {
	
	position:absolute;
	top:134px;


}









