#blankrx {
   height: 600px;
   background-image: url(/activity/prescription/media/images/blankrx.jpg);
   background-repeat: no-repeat;
   background-position: center;
}

#dosage {
	position: relative;
   width: 185px;
	left: 190px;
   top: 345px;
}

#disp {
   position: relative;	
   width: 185px;
   left: 190px;
   top: 350px;
}

#sig {
   position: relative;  
   left: 190px;
   top: 360px; 
}

#dosage_correct {
   position: relative;
   width: 185px;
   left: 400px;
   top: 205px;
}

#disp_correct {
   position: relative;  
   width: 185px;
   left: 400px;
   top: 215px;
}

#sig_correct {
   position: relative;  
   width: 185px; 
   left: 475px;
   top: 230px;
}

#dosage_callout {
   position: relative;  
   width: 150px;
   left: 50px;
   top: 588px; 
}

#disp_callout {
   position: relative;  
   width: 150px;
   left: 710px;
   top: 610px; 
}



#refills {
   position: relative;  
	width: 45px;
   left: 349px;
   top: 773px; 
   text-align: right;
}

#refills_correct {
   position: relative;  
   width: 25px;
   left: 410px;
   top: 775px; 
}

#refills_callout {
   position: relative;  
   width: 150px;
   left: 50px;
   top: 725px; 
}

#rxsubmit {
   position: relative;  
	width: 100px;
   left: 710px;
   top: 830px; 
}



