{% extends "base.html" %}
{% block content %}
<br />
<div class="login_tc">
    
    <div style="padding-bottom: 5px">
        <h3>Log In</h3>
    </div>

    <div style="padding-bottom: 5px">
        <h6>Columbia Users:</h6>
        <form method="get" action="{{ CAS_BASE }}cas/login">
            <input type="hidden" name="destination" value="http{% if request.is_secure %}s{% endif %}://{{ request.get_host }}/accounts/caslogin/?next={{ next }}" />
            <input type="submit" value="Log In with Columbia UNI" class="btn"></input>
        </form>
    </div>

    <hr />

    <div style="padding-top: 5px">
        <h6>All Other Users:</h6>

        <div>
            {% if form.username.errors %}
                <div class="alert alert-danger"><p>Please enter your username.</p></div>
            {% else %}    
                {% if form.password.errors %}
                    <div class="alert alert-danger"><p>Please enter your password.</p></div>
                {% else %}                
                    {% if form.errors %}
                        <div class="alert alert-danger"><p>Please enter a correct username and password. Note that both fields are case-sensitive.</p></div>
                    {% endif %}
                {% endif %}
            {% endif %}
        </div>
        
        <form method="post" action=".">
            <table>
            <tr><td style="border: hidden;"><label for="id_username">Username:&nbsp;</label></td><td style="border: hidden">{{ form.username }}</td></tr>
            <tr>
                <td style="border: hidden; padding-top: 3px;"><label for="id_password">Password:&nbsp;</label>
                </td>
                <td style="border: hidden; padding-top: 5px;">
                    {{ form.password }}<br />
                </td>
            </tr>
            <tr>
                <td style="border: hidden;" />
                <td style="border: hidden;"><a href="/accounts/password_reset/">Forgot Password</a>
                </td>
            </tr>            
            <tr>
                <td colspan="2" style="border: hidden; text-align: right; padding-top: 7px;">
                    <input class="btn" type="submit" value="Log In"></input>
                </td>
            </tr>
            </table>
            <input type="hidden" name="next" value="{{ next }}"></input>
        </form>
        <a href="{% url "registration_register" %}">Register for an account</a> 
    </div>
</div>

<h2>Welcome to Tobacco Cessation</h2>
<h4>Online Tobacco Training and Resources for Dental Professionals</h4>
<p>
Helping patients who want to quit tobacco use is a critical element of dental practice. This self-paced, online course is designed to teach dentists and dentists-in-training the basic concepts of evidence-based tobacco cessation pharmacotherapy and behavioral counseling. After completing this course you will be equipped with the knowledge and skills to effectively assess and treat tobacco use.
</p>
<p>
Tobacco Cessation was developed in collaboration by partners from the Columbia University College of Dental Medicine and Center for New Media Teaching and Learning. The program was funded through support from the Triangle Initiative and Pfizer Foundation. 
</p>

{% endblock %}
