{% extends "base_teachdentistry.html" %}
{% block title %}Welcome, Please Log In{% endblock %}
{% block usernav %}{% endblock %}

{% block login_overlay %}
<div class="btn btn-large btn-primary add-box-shadow" id="login">
Log in
</div>

<a href="/accounts/register/" class="btn btn-large btn-info add-box-shadow" id="signup">Sign up</a>

<div class="well login-set" id="login-window">

    <button type="button" class="btn btn-small pull-right" id="close-login">X</button>
    <div id="login-form">
        {% if form.username.errors or form.password.errors or form.errors %}
        <div class="alert alert-error">
            {% if form.username.errors %}
                Please enter your username.
            {% else %}    
                {% if form.password.errors %}
                    Please enter your password.
                {% else %}                
                    {% if form.errors %}
                        Please enter a correct username and password.
                    {% endif %}
                {% endif %}
            {% endif %}
        </div>
        {% endif %}
        <form method="post" action=".">
        <label for="id_username">Username: {{ form.username }}</label>
        <label for="id_password">Password: {{ form.password }}</label>
        <input type="submit" value="Log in" class="btn btn-large btn-primary" id="td_login" />
        <input type="hidden" name="next" value="{% if next %}{{ next }}{% else %}/{% endif %}" />
        </form>
        <p class="forgot-password"><a href="/accounts/password/reset/">Did you forget your username or password?</a></p>
    </div>
</div>

<div class="login-set" id="login-overlay"></div>
{% endblock %}

{% block content %}

{% comment %}<form method="get" action="{{ wind_base }}login" class="well">
<input type="hidden" name="service" value="{{ wind_service }}" />
<input type="hidden" name="destination" value="http://{{ request.get_host }}/accounts/windlogin/?next={{ next }}" />
<p>If you have a Columbia University Network ID
        (UNI)... </p><input type="submit" value="LOG IN" class="btn btn-primary"/></p>
</form>{% endcomment %}


<h2 class="tab-header">Learn how to become a dental educator</h2>

<div class="index-tabs" id="tabs">
	{% comment %}<div class="item-tab" id="tabs-1">
		<h2>Watch a video</h2>
		<p class="video-placeholder img-rounded"></p>
	</div>{% endcomment %}
	<div class="item-tab" id="tabs-2">
		<h2>I teach dentistry because...</h2>
		<p>Discover the rewards other dentists have received from teaching.</p>
	</div>
	<div class="item-tab" id="tabs-3">
		<h2>Everyone has something to offer</h2>
		<p><i>“We need so many talented men and women in academia - the doors are wide open to all of you. We need you. Come on and join.”</i><br />~ Dennis Mitchell, DDS, MPH</p>

        <p>Find out about the different paths that have brought your peers to teach dentistry and how you can do it, too.</p>
	</div>
	<div class="item-tab" id="tabs-4">
		<h2>Start teaching</h2>
		<p>Find out ways that you can get involved, from volunteering to full-time teaching. Learn how to get started.</p>

        <p>By completing this free course, you will receive one continuing education credit.</p>
	</div>
</div>



{% endblock %}


{% block js %}
<script type="text/javascript">
    jQuery(document).ready(function(jQuery){
        
        {% if form.username.errors or form.password.errors or form.errors %}
            jQuery(".login-set").fadeIn("fast", "linear");
        {% endif %}
        
        /* For Login page */
        jQuery("#invitation #login").click(function(){
            jQuery(".login-set").fadeIn("fast", "linear");
        });
        jQuery("#login-window #close-login").click(function(){
            jQuery(".login-set").fadeOut("fast", "linear");
        });
        jQuery('.carousel').carousel({
            interval: 7000
        })
    });
</script>
{% endblock %}