{% extends "registration/base_registration.html" %}
{% load i18n admin_static %}
{% block title %}Sign up for an account{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript">
        jQuery(document).ready(function() {
            jQuery('#id_consent').change(function() {
                if (jQuery('#id_consent').is(':checked')) {
                    jQuery("#consent-form").hide();
                    jQuery("div.consent-checkbox").hide();
                    jQuery("#consent-given").show();
                } else {
                    jQuery("#consent-form").show();
                    jQuery("div.consent-checkbox").show();
                    jQuery("#consent-given").hide();
                }
            });
            if (jQuery('#id_consent').attr('checked')) {
                jQuery("#consent-given").show();
                jQuery("#consent-form").hide();
                jQuery("div.consent-checkbox").hide();
            }
        });
    </script>

{% endblock %}

{% block registration_content %}
    <div class="well tc" id="consent-form">
        <h2>Consent Agreement</h2>
        <p>Welcome to Columbia University's online tobacco cessation education website. This educational website was produced, through the collaborative efforts of Dr. David Albert from the Columbia University College of Dental Medicine and the Columbia Center for New Media Teaching and Learning (CCCNMTL), to provide an easy to use online instructional tool.</p>

        <p>These multimedia tobacco cessation counseling modules include information on tobacco cessation pharmacotherapies, demonstration videos, treatment activities, and immediate response quizzes.</p>
        
        <p>It is our intent that learners come away with a strong understanding of available tobacco cessation pharmacotherapies and the empowerment to effectively provide tobacco cessation information to dental patients.</p>
        
        <p>We also invite you to participate in a research study that consists of two surveys to evaluate the course. Participation in the research study is voluntary. You are not required to participate in the research study. If you agree to participate we will provide you with a pre-course survey and a post-course survey. There will be no compensation for participation in this study.</p>
        
        <p>Data analyzed in this study will be anonymized. There are no risks associated with participation. The information gained from this study will help improve tobacco cessation education. The Columbia University Medical Center IRB, the Office for Human Research Protections and members of the research team may have access to study data.</p>
        
        <p>By completing the registration page you are agreeing to participate in this research study.</p>
        
        <p>If there are any questions or concerns please contact the Principal Investigator, Dr. David Albert at the Columbia University College of Dental Medicine at 212-342-8588 or by email at daa1@columbia.edu.</p>
        
        <p>You may also contact the Columbia University Medical Center Institutional Review Board (IRB) at 212-305-5883 (reference # IRB- AAAL4455).</p>      
    </div>

    <form id="reg_form" method="post" action="." class="register form-horizontal">
        <div class="fieldWrapper consent-checkbox">
            {{ form.consent }}
            <label>I have read and agree to the Consent Agreement </label>
        </div>

        {{ form.consent.errors }}
        <div id="consent-given" style="display: none">
            <h2 class="pagetitle signuptitle">Sign up for an account</h2>
            <div><p>Use the following form to create a new account to access Tobacco Cessation.</p></div>
    
            <div><p>
            If you already have a username or password, but have forgotten either,
                <a href="{% url "auth_password_reset" %}">reset them here</a>.
            </p></div>
            <div><p><strong>All fields are required.</strong></p></div>

            <div class="well">
            <div class="fieldWrapper control-group">
                {{ form.first_name.errors }}
                <label class="control-label">First Name: </label>
                <div class="controls">
                    {{ form.first_name }}
                </div>
            </div>
           
           <div class="fieldWrapper control-group">
                {{ form.last_name.errors }}
                <label class="control-label">Last Name: </label>
                <div class="controls">
                    {{ form.last_name }}
                </div>
            </div>
            <div class="fieldWrapper control-group">
                {{ form.username.errors }}
                <label class="control-label">Username: </label>
                <div class="controls">
                    {{ form.username }}
                </div>
            </div>
        
            <div class="fieldWrapper control-group">
                {{ form.password1.errors }}
                <label class="control-label">Password: </label>
                <div class="controls">
                    {{ form.password1 }}
                </div>
            </div>
        
            <div class="fieldWrapper control-group">
                {{ form.password2.errors }}
                <label class="control-label">Confirm Password: </label>
                <div class="controls">
                    {{ form.password2 }}
                </div>
            </div>
                    
            <div class="fieldWrapper control-group">
                {{ form.email.errors }}
                <label class="control-label">Email: </label>
                <div class="controls">
                    {{ form.email }}
                </div>       
            </div>
            </div>
                <div class="fieldWrapper control-group">
                {{ form.gender.errors }}
                <label class="control-label">Gender: </label>
                <div class="controls">
                    {{ form.gender }}
                </div>
            </div>
            
            <div class="fieldWrapper control-group">
                {{ form.is_faculty.errors }}
                <label class="control-label">Are you a faculty memeber or a student?</label>
                <div class="controls">
                    {{ form.is_faculty }}
                </div>
            </div>
        
        <div class="fieldWrapper control-group">
            {{ form.specialty.errors }}
            <label class="control-label">How would you describe your specialty?</label>
            <div class="controls">
                {{ form.specialty }}
            </div>
        </div>
        
        <div class="fieldWrapper control-group">
            {{ form.institute.errors }}
            <label class="control-label">What institute are you associated with?</label>
            <div class="controls">
                {{ form.institute }}
            </div>
        </div>
        
        <div class="fieldWrapper control-group">
            {{ form.year_of_graduation.errors }}
            <label class="control-label">What year did you graduate?</label>
            <div class="controls">
                {{ form.year_of_graduation }}
            </div>
        </div>
        
        <div class="fieldWrapper control-group">
            {{ form.age.errors }}
            <label class="control-label">Age: </label>
            <div class="controls">
                {{ form.age }}
            </div>
        </div>
        
        <div class="fieldWrapper control-group">
            {{ form.hispanic_latino.errors }}
            <label class="control-label">Are you Hispanic or Latino?: </label>
            <div class="controls">
                {{ form.hispanic_latino }}
            </div>
        </div>
        
        <div class="fieldWrapper control-group">
            {{ form.race.errors }}
            <label class="control-label">Race: </label>
            <div class="controls">
                {{ form.race }}
            </div>
        </div>
        <div class="well" style="text-align: center">
        <input class="btn btn-primary btn-large" type="submit" id="submit-id" value="{% trans 'Sign up!' %}" />
        </div>
    </form>
</div>
{% endblock %}


