{% extends "registration/base_registration.html" %}
{% load i18n static %}
{% block title %}Sign up for an account{% endblock %}

{% block registration_content %}
    <form id="reg_form" method="post" action="." class="register form-horizontal">
        <h2 class="pagetitle signuptitle">Sign up for an account</h2>
        <div><p>Use the following form to create a new account to access Tobacco Cessation.</p></div>

        <div><p>
        If you already have a username or password, but have forgotten either,
            <a href="{% url "password_reset" %}">reset them here</a>.
        </p></div>
        <div><p><strong>All fields are required.</strong></p></div>

        <div class="well">
        <div class="fieldWrapper control-group">
            {{ form.first_name.errors }}
            <label class="control-label">First Name: </label>
            <div class="controls">
                {{ form.first_name }}
            </div>
        </div>

        <div class="fieldWrapper control-group">
            {{ form.last_name.errors }}
            <label class="control-label">Last Name: </label>
            <div class="controls">
                {{ form.last_name }}
            </div>
        </div>
        <div class="fieldWrapper control-group">
            {{ form.username.errors }}
            <label class="control-label">Username: </label>
            <div class="controls">
                {{ form.username }}
            </div>
        </div>

        <div class="fieldWrapper control-group">
            {{ form.password1.errors }}
            <label class="control-label">Password: </label>
            <div class="controls">
                {{ form.password1 }}
            </div>
        </div>

        <div class="fieldWrapper control-group">
            {{ form.password2.errors }}
            <label class="control-label">Confirm Password: </label>
            <div class="controls">
                {{ form.password2 }}
            </div>
        </div>

        <div class="fieldWrapper control-group">
            {{ form.email.errors }}
            <label class="control-label">Email: </label>
            <div class="controls">
                {{ form.email }}
            </div>
        </div>
        </div>
            <div class="fieldWrapper control-group">
            {{ form.gender.errors }}
            <label class="control-label">Gender: </label>
            <div class="controls">
                {{ form.gender }}
            </div>
        </div>

        <div class="fieldWrapper control-group">
            {{ form.is_faculty.errors }}
            <label class="control-label">Are you a faculty member or a student?</label>
            <div class="controls">
                {{ form.is_faculty }}
            </div>
        </div>

        <div class="fieldWrapper control-group">
            {{ form.specialty.errors }}
            <label class="control-label">How would you describe your specialty?</label>
            <div class="controls">
                {{ form.specialty }}
            </div>
        </div>

        <div class="fieldWrapper control-group">
            {{ form.institute.errors }}
            <label class="control-label">What institution are you associated with?</label>
            <div class="controls">
                {{ form.institute }}
            </div>
        </div>

        <div class="fieldWrapper control-group">
            {{ form.year_of_graduation.errors }}
            <label class="control-label">What year did you graduate?</label>
            <div class="controls">
                {{ form.year_of_graduation }}
            </div>
        </div>

        <div class="fieldWrapper control-group">
            {{ form.age.errors }}
            <label class="control-label">Age: </label>
            <div class="controls">
                {{ form.age }}
            </div>
        </div>

        <div class="fieldWrapper control-group">
            {{ form.hispanic_latino.errors }}
            <label class="control-label">Are you Hispanic or Latino?: </label>
            <div class="controls">
                {{ form.hispanic_latino }}
            </div>
        </div>

        <div class="fieldWrapper control-group">
            {{ form.race.errors }}
            <label class="control-label">Race: </label>
            <div class="controls">
                {{ form.race }}
            </div>
        </div>
        <div class="well" style="text-align: center">
        <input class="btn btn-primary btn-large" type="submit" id="submit-id" value="{% trans 'Sign up!' %}" />
        </div>
    </form>
</div>
{% endblock %}
