{% extends "base.html" %}

{% block css %}{% endblock %}

{% block title %}Help{% endblock %}

{% block content %}
<div style="margin-top: 10px; margin-bottom: 5px;">
<h1 class="title">Tobacco Cessation Technical Requirements</h1>
   
  <ul>
    <li><strong>Operating Systems:</strong> Windows XP, Vista, Windows 7; Mac OS X 10.5 or higher</li>
    <li><strong>Display: </strong>1024 x 768 pixel resolution or higher recommended</li>
    <li><strong>JavaScript: </strong>Your browser must have JavaScript enabled</li>
    <li><strong>Windows Browsers: </strong>Internet Explorer 7 or later, Firefox 3.5 or later, Apple Safari 4+, Chrome</li>
    <li><strong>Mac Browsers: </strong>Firefox 3.5 or later, Apple Safari 4+, Chrome</li>
    <li><strong>AOL Browser: </strong>Not Supported</li>
    <li><strong>Plug-ins:</strong>
        <ul>
            <li>Adobe Acrobat Reader: <a href="http://get.adobe.com/reader/" target="_blank"><em>Download Acrobat Reader</em></a></li>
            <li>Flash Player 9 or later: <a href="http://www.adobe.com/go/getflashplayer/"><em>Download Flash Player</em></a></li>
        </ul>
    </li>
   </ul>
</div>
{% endblock %}
         
