{% load smartif %}

<ul>
   {% with "selected" as style_class %}
	   
	   {% if subnav %}
	      {% with subnav as menu %}
	        {% include "tobaccocessation_main/level_menu.html" %}
	      {% endwith %}
	   {% else %}
			{% for s in module.get_children %}
		      <!--  if selected section is the subnav  -->
	         {% ifequal s.id section.id %}
	            <li class="{{style_class}}"><span class="{{style_class}}">{{s.label}}</span></li>
	         {% else %}
               <li>
	               <a id="{{s.slug}}" href="{{menu_base}}{{s.get_absolute_url}}">{{s.label}}</a>
                    <span id="span_{{s.slug}}" style="display: none" class="disabled_link">{{s.label}}</span
	            </li>
	         {% endifequal %}
			{% endfor %}
		{% endif %}
  {% endwith %}
</ul>      

