<ul>
   {% with module as parent %}
      {% with "selected" as style_class %}
      
		   {% if parent.get_children %}
		      {% ifnotequal parent.id section.id %}<li class="menu-{{parent.depth}}"><a href="{{menu_base}}{{parent.get_absolute_url}}">{%else%}<li class="{{style_class}}"> <span class="{{style_class}}">{% endifnotequal %}Intro{% ifnotequal parent.id section.id %}</a></li>{%else%}</span></li>{% endifnotequal %}
		   {% endif %}
		   
	      {% include "tobaccocessation_main/level_menu.html" %}
	   {% endwith %}
   {% endwith %}
</ul>         
