<ul>
   {% with module as parent %}
      {% with "secondary_nav_selected" as style_class %}
      
		   {% if parent.get_children %}
		      <li class="menu-{{parent.depth}}">{% ifnotequal parent.id section.id %}<a href="{{menu_base}}{{parent.get_absolute_url}}">{%else%}<span class="{{style_class}}">{% endifnotequal %}Intro{% ifnotequal parent.id section.id %}</a>{%else%}</span>{% endifnotequal %}
		   {% endif %}
		   
	      {% include "siteeditor/level_menu.html" %}
	   {% endwith %}
   {% endwith %}
</ul>         
