{% extends "project_base.html" %}
{% load smartif %}

{% block title %}Activity - Prescription Writing{% endblock %}

{% block css %}
   {{ block.super }}
{% endblock %}

{% block js %}
   {{ block.super }}
   <script type="text/javascript" src="/site_media/js/mochikit/MochiKit/MochiKit.js"></script>
   <script type="text/javascript" src="/site_media/js/mochikit/MochiKit/Visual.js"></script>
   <script type="text/javascript" src="/activity/prescription/media/js/prescription_writing.js"></script>
{% endblock %}

{% block content %}
    {{ block.super }} 

{% endblock %}