{% extends "project_base.html" %}
{% load smartif %}

{% block title %}Activity - Prescription Writing{% endblock %}

{% block css %}
   {{ block.super }}
   <link href="/activity/prescription/media/css/prescription.css" rel="stylesheet" type="text/css" />
   <link href="/activity/prescription/media/css/single_prescription.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block js %}
   {{ block.super }}
   <script type="text/javascript" src="/site_media/js/mochikit/MochiKit/MochiKit.js"></script>
   <script type="text/javascript" src="/site_media/js/mochikit/MochiKit/Visual.js"></script>
   <script type="text/javascript" src="/activity/prescription/media/js/prescription.js"></script>
{% endblock %}

{% block content %}
    <div>{{ medication.name }}</div>
    
    <form action="{% url activity_virtual_patient.views.rx {{medication.id}}" method="POST">
      Dosage: <select>
          {% for dosage in medication.dosagechoice_set.all' %}
            <option value="{{dosage}}">{{dosage}}</option>
          {% endfor %}
      </select>
      
      Quantity to Dispense: <select>
          {% for concentration in medication.concentrationchoice_set.all %}
            <option value="{{concentration}}">{{concentration}}</option>
          {% endfor %}
      </select>
      
      Refills: 
      {% if medication.refillchoice_set.count > 1 %}
         <select>
            {% for refill in medication.refillchoice_set.all %}
               <option value="{{refill}}">{{refill}}</option>
            {% endfor %}
         </select>
      {% else %}
          {{ medication.refillchoice_set.0 }}
      {% endif %}
      
      Patient Instructions:
      {{ medication.instructions }}
      
      <input id="rxsubmit" type="submit" value="Submit"/>        
    </form>
{% endblock %}

{% block contentnav %}      
   {% if prev %}
     <a href="{% url activity_prescription_writing.views.rx prev.0.sort_order %}" id="previous">« {{prev.0.name}}</a>
   {% endif %}
   
   {% if next %}
       <a href="{% url activity_prescription_writing.views.rx next.0.sort_order %}" id="next">{{next.0.name}} »</a>
   {% endif %}
{% endblock %}