{% load markdownify %}

<ol class="caseanswers">
{% for answer in question.answer_set.all %}
    {% if block.rhetorical %}
        <li><input name="question{{question.id}}" value="{{answer.label}}" type="radio" /> {{answer.label|safe}}</li>
    {% else %}
        <li><div class="radio">
            <label>        
            {% if response %}
                {% if response.value == answer.value %}
                    <input name="pageblock-{{block.pageblock.id}}-question{{question.id}}"
                           checked="checked"
                           value="{{answer.value}}" type="radio"
                           onclick="return showVideo(this);"></input>
                {% else %}
                    <input name="pageblock-{{block.pageblock.id}}-question{{question.id}}"
                           value="{{answer.value}}" type="radio"
                           onclick="return showVideo(this);"></input>
                {% endif %}
                {% if answer.correct %}
                    <div class="alert alert-success">
                        <b>Correct</b>
                    </div>
                {% else %}
                    <div class="alert alert-error">
                        <b>Incorrect</b>
                    </div>
                {% endif %}
            {% else %}
                <input name="pageblock-{{block.pageblock.id}}-question{{question.id}}"
                       value="{{answer.value}}" type="radio" onclick="return showVideo(this);"/>
            {% endif %}
            {{answer.label|safe}}
            </label>
        </div></li>
    {% endif %}
{% endfor %}
</ol>
<div class="visualclear"></div>