{% extends "project_base.html" %}
{% load smartif %}

{% block title %}Activity - VirtualPatient{% endblock %}

{% block css %}
   {{ block.super }}
   <link href="/activity/virtualpatient/media/css/virtualpatient.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block js %}
   {{ block.super }}
   <script type="text/javascript" src="/site_media/js/mochikit/MochiKit/MochiKit.js"></script>
   <script type="text/javascript" src="/site_media/js/mochikit/MochiKit/Visual.js"></script>
   <script type="text/javascript" src="/site_media/js/mochikit/MochiKit/DragAndDrop.js"></script>
   <script type="text/javascript" src="/site_media/js/json2.js"></script>
   <script type="text/javascript" src="/activity/virtualpatient/media/js/options.js"></script>
   <script type="text/javascript" src="/activity/virtualpatient/media/js/virtualpatient.js"></script>
{% endblock %}

{% block content %}
    {{ block.super }} 
    <h6>Virtual Patient >> Classify Treatment Options</h6>
      
    <div id="patient">
      <div id="patient_description">
         <center>
            <h3>{{patient.name}}</h3>
            <table cellpadding="10" cellspacing="10">
                <tr><td><img src="/activity/virtualpatient/media/images/patient_{{patient.id}}.jpg"/></td><td>{% autoescape off %}{{ patient.description }}{% endautoescape %}</td></tr>
             </table>
         </center>
      </div>
      <div id="patient_history">{% autoescape off %}{{patient.history}}{% endautoescape %}</div>
      <input type="hidden" id="patient_id" name="patient_id" value="{{patient.id}}"></input>
      <input type="hidden" id="page_id" name="page_id" value="{{page_id}}"></input>
      <input type="hidden" id="foo" value="bar"></input>
    </div>
    
    <div id="treatment_types">
	    <div class="treatment_type_box"><center><strong>BEST TREATMENT CHOICE</strong><div id="best_treatment" class="treatment_type treatment_droppable"></div></center></div>
	    <div class="treatment_type_box"><center><strong>REASONABLE, NOT OPTIMAL</strong><div id="reasonable_treatment" class="treatment_type treatment_droppable"></div></center></div>
	    <div class="treatment_type_box"><center><strong>UNLIKELY TO BE EFFECTIVE</strong><div id="ineffective_treatment" class="treatment_type treatment_droppable"></div></center></div>
	    <div class="treatment_type_box"><center><strong>POTENTIALLY HARMFUL</strong><div id="harmful_treatment" class="treatment_type treatment_droppable"></div></center></div>
	 </div>
	 
	 <br />
	 <br />
	 
	 <div>
		 <strong>AVAILABLE TREATMENTS</strong>   
	    <span id="available_treatments" class="treatment_droppable">
	    
	      {% for med in medications %}
	         <span id='{{med.tag}}' class='{{med.tag}} treatment_draggable'>
	            <img src='/activity/virtualpatient/media/images/{{ med.tag }}.jpg'>
	         </span>
	      {% endfor %}
	      
	      <span id="combination" class="combination treatment_draggable">
	         <img src="/activity/virtualpatient/media/images/combination.jpg">
	      </span>
	    </span>
	 </div>
	 
	 <span  id="medication_template" style="display: none; position: relative;" class="treatment_draggable">
      <img src="/activity/virtualpatient/media/images/">
    </span>
    
    <div class="content-nav">
       {% if prev %}
         <a href="#" id="previous"> {{prev}}</a>
       {% endif %}

       <span id="next_navigation">
          <input id='next' type='submit' value='Submit' style="display: none" onclick="saveStateAsych()"></input>          
       </span>
    </div>

{% endblock %}