{% extends "project_base.html" %}
{% load smartif %}

{% block title %}Activity - VirtualPatient{% endblock %}

{% block css %}
   {{ block.super }}
   <link href="/activity/virtualpatient/media/css/virtualpatient.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block js %}
   {{ block.super }}
   <script type="text/javascript" src="/site_media/js/mochikit/MochiKit/MochiKit.js"></script>
   <script type="text/javascript" src="/site_media/js/mochikit/MochiKit/Visual.js"></script>
   <script type="text/javascript" src="/site_media/js/mochikit/MochiKit/DragAndDrop.js"></script>
   <script type="text/javascript" src="/site_media/js/json2.js"></script>
   <script type="text/javascript" src="/activity/virtualpatient/media/js/prescription.js"></script>
   <script type="text/javascript" src="/activity/virtualpatient/media/js/virtualpatient.js"></script>
{% endblock %}

{% block content %}
    {{ block.super }} 
    <h6>Virtual Patient >> Classify Treatment Options</h6>
    
    <div>{{ medication.name }}</div>
    <br />
    <form>
      <input type="hidden" id="medication_idx" value="{{ medication_idx }}"></input>
      <input type="hidden" id="medication_tag" value="{{ medication.tag }}"></input>
      <input type="hidden" id="patient_id" name="patient_id" value="{{patient.id}}"></input>
      <input type="hidden" id="page_id" name="page_id" value="{{page_id}}"></input>

      <!--  First Prescription -->
      Dosage: <select id="concentration">
          
          {% for cc in medication.concentrationchoice_set.all %}
            {% ifequal cc.id concentration_idx %}
               <option selected="selected" value="{{cc.id}}">{{cc.concentration}}</option>
            {% else %}
               <option value="{{cc.id}}">{{cc.concentration}}</option>
            {% endifequal %}
          {% endfor %}
      </select>
      <br />
      <br />
      
     Quantity to Dispense: <select id="dosage">
          {% for dc in medication.dosagechoice_set.all %}
             {% ifequal dc.id dosage_idx %}
               <option selected="selected" value="{{dc.id}}">{{dc.dosage}}</option>
             {% else %}
               <option value="{{dc.id}}">{{dc.dosage}}</option>
             {% endifequal %}
          {% endfor %}
      </select>
      <br />
      <br />
      Refills: 
	      <select id="refill">
	         {% for rc in medication.refillchoice_set.all %}
	            {% ifequal rc.id refill_idx %}
	               <option selected="selected" value="{{rc.id}}">{{rc.refill}}</option>
	            {% else %}
	               <option value="{{rc.id}}">{{rc.refill}}</option>
	            {% endifequal %}
	         {% endfor %}
	      </select>
      <br />
      <br />
      Patient Instructions:
      {% autoescape off %}
      {{ medication.instructions }}
      {% endautoescape %}
    
    <!--  Second Prescription if needed -->
    {% ifequal medication.rx_count 2 %}
      Dosage: <select id="concentration2">
          {% for cc in medication.concentrationchoice_set.all %}
            {% ifequal cc.id concentration2_idx %}
               <option selected="selected" value="{{cc.id}}">{{cc.concentration}}</option>
            {% else %}
               <option value="{{cc.id}}">{{cc.concentration}}</option>
            {% endifequal %}
          {% endfor %}
      </select>
      <br />
      <br />
      
     Quantity to Dispense: <select id="dosage2">
          {% for dc in medication.dosagechoice_set.all %}
             {% ifequal dc.id dosage2_idx %}
               <option selected="selected" value="{{dc.id}}">{{dc.dosage}}</option>
             {% else %}
               <option value="{{dc.id}}">{{dc.dosage}}</option>
             {% endifequal %}
          {% endfor %}
      </select>
      <br />
      <br />
      Refills: 
	      <select id="refill2">
	         {% for rc in medication.refillchoice_set.all %}
	            {% ifequal rc.id refill2_idx %}
	               <option selected="selected" value="{{rc.id}}">{{rc.refill}}</option>
	            {% else %}
	               <option value="{{rc.id}}">{{rc.refill}}</option>
	            {% endifequal %}
	         {% endfor %}
	      </select>
      <br />
      <br />
      Patient Instructions:
      {% autoescape off %}
      {{ medication.instructions }}
      {% endautoescape %}
     {% endifequal %}
   </form>    
{% endblock %}

{% block contentnav %}
   <a id="previous" href="{{previous_url}}">Previous</a>

   <a id='next' href="#" onclick="navigate(); return false;">Next</a>          
{% endblock %}