{% extends "project_base.html" %}
{% load smartif %}

{% block title %}Activity - VirtualPatient{% endblock %}

{% block css %}
   {{ block.super }}
   <link href="/activity/virtualpatient/media/css/virtualpatient.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block js %}
   {{ block.super }}
   <script type="text/javascript" src="/site_media/js/mochikit/MochiKit/MochiKit.js"></script>
   <script type="text/javascript" src="/site_media/js/mochikit/MochiKit/Visual.js"></script>
   <script type="text/javascript" src="/site_media/js/mochikit/MochiKit/DragAndDrop.js"></script>
   <script type="text/javascript" src="/site_media/js/json2.js"></script>
   <script type="text/javascript" src="/activity/virtualpatient/media/js/selection.js"></script>
   <script type="text/javascript" src="/activity/virtualpatient/media/js/virtualpatient.js"></script>
{% endblock %}

{% block content %}
    {{ block.super }} 
    <h6>Virtual Patient >> Classify Treatment Options</h6>
      
    <div id="patient">
      <div id="patient_description">
         <center>
            <h3>{{patient.name}}</h3>
            <table cellpadding="10" cellspacing="10">
                <tr><td><img src="/activity/virtualpatient/media/images/patient_{{patient.id}}.jpg"/></td><td>{% autoescape off %}{{ patient.description }}{% endautoescape %}</td></tr>
             </table>
         </center>
      </div>
      <div id="patient_history">{% autoescape off %}{{patient.history}}{% endautoescape %}</div>
      <input type="hidden" id="patient_id" name="patient_id" value="{{patient.id}}"></input>
      <input type="hidden" id="page_id" name="page_id" value="{{page_id}}"></input>
    </div>
    
    <div id="treatment_types">
       <div class="treatment_type_box">
	       <center>
		       <strong>BEST TREATMENT CHOICE</strong>
		       <div id="best_treatment" class="treatment_type treatment_droppable">
		          {% for tag in patient_state.best_treatment %}
		             {% ifequal tag patient_state.prescribe %} <!-- highlight the selection -->  
						    <span  id="{{tag}}" class="{{tag}} treatment_draggable highlight" onclick="onSelectBestTreatment(this); return false;">
						 {% else %}
						    {% if patient_state.prescribe %} <!--  another choice is selected. gray this one -->
						       <span  id="{{tag}}" class="{{tag}} treatment_draggable" style="opacity: 0.5;" onclick="onSelectBestTreatment(this); return false;">
						    {% else %} <!-- just treat it normally -->
						       <span  id="{{tag}}" class="{{tag}} treatment_draggable" onclick="onSelectBestTreatment(this); return false;">
						    {% endif %}
		             {% endifequal %}
					      <img src="/activity/virtualpatient/media/images/{{tag}}.jpg">
		             </span>
					    
				    {% endfor %}
		       </div>
	       </center>
       </div>
       <div class="directions_box"><h5>Click one treatment to prescribe</h5></div>
    </div>
    
    <br />
    <br />
    
    <div id="available_treatments_box" style="{% ifnotequal patient_state.prescribe 'combination' %} display:none {% endifnotequal %}">
       <strong>AVAILABLE TREATMENTS</strong>
       <span id="available_treatments" class="treatment_droppable">
         
         {% for med in medications %}
            {% ifequal med.tag patient_state.combination.0 %} <!-- highlight selected treatments -->
                <span id='{{med.tag}}_combo' class='highlight {{med.tag}} treatment_draggable' onclick="onSelectCombinationTreatment(this); return false;">
            {% else %}
	            {% ifequal med.tag patient_state.combination.1 %} <!--  highlight selected treatments -->
                  <span id='{{med.tag}}_combo' class='highlight {{med.tag}} treatment_draggable' onclick="onSelectCombinationTreatment(this); return false;">
	            {% else %}
	               {% if patient_state.combination.1 %} <!-- two other choices were selected. gray this one out -->
		               <span id='{{med.tag}}_combo' style="opacity: 0.5;" class='{{med.tag}} treatment_draggable' onclick="onSelectCombinationTreatment(this); return false;">
		            {% else %} <!-- view normally -->
		               <span id='{{med.tag}}_combo' class='{{med.tag}} treatment_draggable' onclick="onSelectCombinationTreatment(this); return false;">
		            {% endif %}
	            {% endifequal %}
            {% endifequal %}
		             <img src='/activity/virtualpatient/media/images/{{ med.tag }}.jpg'>
		          </span>
         {% endfor %}
       </span>
    </div>
{% endblock %}

{% block contentnav %}
   <a id="previous" href="{{ previous_url }}">Previous</a>

   <a id='next' href="#" style="display: none" onclick="navigate(); return false;">Next</a>          
{% endblock %}