{% extends "base_two_col_left.html" %}
{% load smartif %}

{% block css %}
   {{ block.super }}
   <link href="/activity/virtualpatient/media/css/virtualpatient.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block js %}
   {{ block.super }}
   <script type="text/javascript" src="/site_media/js/mochikit/MochiKit/MochiKit.js"></script>
   <script type="text/javascript" src="/site_media/js/mochikit/MochiKit/Visual.js"></script>
   <script type="text/javascript" src="/site_media/js/mochikit/MochiKit/DragAndDrop.js"></script>
   <script type="text/javascript" src="/site_media/js/json2.js"></script>
{% endblock %}

{% block sidebarleft %}
  
  <h4>Sections</h4>
  <ul>
     {% for p in patients %}
         {% if p.selected %}
            <li class="selected"><span class="selected">Virtual Patient {{p.display_order }}</span></li>
         {% else %}
            {% if p.completed %}
                <li><a href="/assist/activity-virtual-patient/options/{{p.id}}">Virtual Patient {{p.display_order}}</a></li>
            {% else %}
                <li><span class="disabled_link">Virtual Patient {{p.display_order}}</span></li>
            {% endif %}
        {% endif %}
     {% endfor %}
   </ul>
     <h4>Quick References</h4>
   	<ul>
   	<li class="reference">
				<a href="http://tobaccocessation.ccnmtl.columbia.edu/main/media/pdf/PharmacotherapyTable.pdf"><img src="/site_media/img/icon_table.jpg" align="absmiddle" style="margin-right: 3px;"/></a>&nbsp;<a href="http://tobaccocessation.ccnmtl.columbia.edu/main/media/pdf/PharmacotherapyTable.pdf">Pharmacotherapy Table</a>
				</li>
   </ul>
{% endblock %}

{% block contentnav %}
<table>
<tr>
<td>
   {% if previous_url %}
     <a href="{{previous_url}}" id="previous">« Previous</a>
   {% else %}
      {% with section.get_previous as prev %}
        {% if prev %}
          <a href="{{prev.get_absolute_url}}" id="previous">« {{prev.label}}</a>
        {% endif %}
      {% endwith %}
   {% endif %}
</td>
<td width="100%" align="center>  
   <div id="page_numbering">
      Virtual Patient {{ patient.display_order }} | Page {{ page_number }} {{ page_addendum }} of 4
   </div>
</td>
<td>
   {% if next_url %}
      <a id='next' href="{{next_url}}">Next »</a>
   {% endif %}
   
   {% if navigate %}
      <a id='next' href="#" onclick="return navigate();">Next »</a>
   {% endif %}          
</td>
</tr>
</table>   
{% endblock %}
