{% extends "base.html" %}

{% block css %}{% endblock %}

{% block title %}About{% endblock %}

{% block standardnav %}
   {% include "project_standard_nav.html" %}
{% endblock %}

{% block primarynavtabs %}
   <ul>
      <li><a href="/welcome/">Welcome</a></li>
      <li><a href="/resources/">Resources</a></li>
      <li><a href="/assist/">Assist</a></li>
   </ul>
{% endblock %}

{% block content %}
   <div style="padding-bottom: 5px">
   <h1 class="title">About Tobacco Cessation</h1>
   <p>
   It is widely accepted by members of the dental profession that addressing tobacco use with patients should be an integral part of every dental visit. However, national surveys suggest that less than 50% of US dentists ask their patients about smoking and even fewer offer them assistance to quit. Lack of training is most often cited to explain the reluctance of dentists to provide tobacco cessation interventions.
   </p>
   <p>
   To address this barrier to tobacco cessation, intervention faculty at the Columbia University College of Dental Medicine and the Columbia University Center for New Media Teaching and Learning (CCNMTL) have developed this comprehensive online tobacco cessation intervention program. The program features a step by step process comprised of 5 sequential components: Ask, Advise, Assess, Assist, and Arrange (the 5As), which work together to provide a comprehensive tobacco cessation program. The goal of this program is to provide dental students and providers with the didactic and clinical skills to intervene with patients who use tobacco to improve their oral and general health.
   </p> 
   </div>
   <hr />
   <div style="padding-top: 10px">
   <h1 class="title">Credits</h1>
   <h3>Faculty Partners</h3>
        David A. Albert, DDS, MPH Associate Professor of Clinical Dentistry and Public Health, Director, Division of Community Health, Columbia University College of Dental Medicine<br />
        Judith Gordon, Ph.D. Associate Professor in the Department of Family and Community Medicine at the University of Arizona<br />
        Lynn Tepper MS, MA, MEd, EdD, PhD, clinical professor and director of the Behavioral Science Division at Columbia University College of Dental Medicine<br />
        
   <h3>Contributing Writers</h3>
        Angela Ward, RDH, MA<br />
        Sharifa Z. Williams, MPH<br />

   <h3>CCNMTL Production Team</h3>

    <h4>Executive Producers</h4>
        Frank Moretti<br />
        Maurice Matiz<br />
        John Zimmerman<br />
        <br />

    <h4>Project Management</h4>
    Cindy Smalletz<br />
    <br />
    
    <h4>Web Design</h4>
    Elizabeth Day<br />
    <br />
    
    <h4>Programming</h4>
    Susan Dreher<br />
    <br />
    
    <h4>Video Production</h4>
    Stephanie Ogden<br />
    Michael Deleon<br />
    Acacia Graddy-Gamel<br />
</div>
{% endblock %}
         
