{% extends "base.html" %}

{% block css %}{% endblock %}

{% block title %}Help{% endblock %}

{% block standardnav %}
   {% include "project_standard_nav.html" %}
{% endblock %}

{% block primarynavtabs %}
   <ul>
      <li><a href="/welcome/">Welcome</a></li>
   </ul>
{% endblock %}

{% block content %}
<div style="margin-top: 10px; margin-bottom: 5px;">
<h1 class="title">Tobacco Cessation Technical Requirements</h1>
   
  <ul>
    <li><strong>Operating Systems:</strong> Windows 2000 or higher; Mac OS X (10.1 or higher)</li>
    <li><strong>Display: </strong>1024 x 768 pixel resolution or higher recommended</li>
    <li><strong>Network Connection: </strong>The recommended connection is broadband connection (LAN, DSL, or cable modem).</li>
    <li><strong>Browsers: </strong>Enable Javascript</li>
    <li><strong> Windows: </strong>Internet Explorer 6 or later, Mozilla, Firefox,  Netscape 7 or later.</li>
    <li><strong>Mac OS: </strong>Safari, Mozilla, Firefox, Netscape 7 or later. Internet  Explorer 5.1, Netscape 4.x and Netscape 6 are not supported for this  application.</li>
    <li><strong>Plug-ins:</strong>
        <ul>
            <li>Adobe Acrobat Reader: <a href="http://get.adobe.com/reader/" target="_blank"><em>Download Acrobat Reader</em></a></li>
            <li>Flash Player 6 or later: <a href="http://www.adobe.com/go/getflashplayer/"><em>Download Flash Player</em></a></li>
        </ul>
    </li>
   </ul>
</div>
{% endblock %}
         
