{% extends "base.html" %}

{% block css %}

{% endblock %}

{% block title %}Welcome{% endblock %}

{% block standardnav %}
   {% include "project_standard_nav.html" %}
{% endblock %}

{% block primarynavtabs %}
   <ul>
  
      <li class="selected"><span class="selected">Welcome</span></li>
      <li><a href="/resources/">Resources</a></li>
      <li><a href="/assist/">Assist</a></li>
  
   </ul>
{% endblock %}

{% block content %}

	<h2 class="title">Welcome to Tobacco Cessation!</h2>
	
   <p>In order to prepare you to help your patients quit tobacco this online tobacco cessation program presents an intervention specifically designed for use by dental providers.  This intervention is based on the 5As developed by the National Cancer Institute.  The 5As are strategies designed to assist clinicians in delivering and supporting effective treatments for tobacco use and dependence.</p>  

   <p>The intervention is a step-by-step process comprised of five sequential components, which work together to provide a comprehensive patient cessation program.  The 5As are:
	<ul>
	  <li>Ask - identify patient tobacco users at every visit</li>
	  <li>Advise - directly urge tobacco using patients to quit</li>
	  <li>Assess - determine patient's level of readiness to quit</li>
	  <li>Assist - help patient to quit using behavioral and pharmacological approaches</li>
	  <li>Arrange - provide follow-up contact and encouragement</li>
	</ul>
	</p>

   <p>Click on the "Assist" tab to learn how you can help your patients quit. This section includes information on selecting, prescribing and using pharmacotherapies, patient self-help materials and referral to tobacco cessation resources.</p>
	

{% endblock %}
         
