<div id="flashvideoblock">

	<OBJECT classid='clsid:D27CDB6E-AE6D-11cf-96B8-444553540000' 
	codebase='http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,0,0' 
	width="{{block.width}}"
	height="{{block.height}}">
	<param name='movie' value="http://ccnmtl.columbia.edu/remote/media_controllers/jw_media/player.swf">
	<param name='allowfullscreen' value="true">
	<param name='bgcolor' value='efc48d'>
	<param name='allowscriptaccess' value="always">
	<param name="flashvars" value='file={{block.file_url}}&image={{block.image_url}}&frontcolor=FFFFFF&backcolor=333333&lightcolor=eaa141&screencolor=FFFFFF&stretching=fill'>
	<embed src="http://ccnmtl.columbia.edu/remote/media_controllers/jw_media/player.swf"
	width="{{block.width}}"
	height="{{block.height}}"
	bgcolor="efc48d"
	allowscriptaccess="always"
	allowfullscreen="true"
	flashvars="file={{block.file_url}}&image={{block.image_url}}&frontcolor=FFFFFF&backcolor=333333&lightcolor=eaa141&screencolor=FFFFFF&stretching=fill">
	</embed>
	</object>

</div>
