<!--  prints the next level of children given a "passed in" parent node -->
<!--  "section" is assumed to be the currently active node -->
{% load accessible %}

{% for s in parent.get_children %}
   {% ifequal s.id module.id %}
      <li class="{{style_class}}"><span class="{{style_class}}">{{s.label}}</span></li>
   {% else %}
	   {% ifnotequal s.id section.id %}
	       <li>
	           {% ifaccessible s %}
	              <a id="{{s.slug}}" href="{{menu_base}}{{s.get_absolute_url}}">{{s.label}}</a>
	              <span id="span_{{s.slug}}" style="display: none" class="disabled_link">{{s.label}}</span
	           {% else %}
	              <a id="{{s.slug}}" style="display: none" href="{{menu_base}}{{s.get_absolute_url}}">{{s.label}}</a>
	              <span id="span_{{s.slug}}" class="disabled_link">{{s.label}}</span
	           {% endifaccessible %}
	       </li>
	   {%else%}
	        <li class="{{style_class}}"><span class="{{style_class}}">{{s.label}}</span></li>
	   {% endifnotequal %}
   {% endifequal %}
{% endfor %}
