<!--  prints the next level of children given a "passed in" parent node -->
<!--  "section" is assumed to be the currently active node -->
{% for s in parent.get_children %}
   {% ifequal s.id module.id %}
      <li class="{{style_class}}"><span class="{{style_class}}">{{s.label}}</span></li>
   {% else %}
	   {% ifnotequal s.id section.id %}
	       <li>
	           <a href="{{menu_base}}{{s.get_absolute_url}}">{{s.label}}</a>
	       </li>
	   {%else%}
	   
	        <li class="{{style_class}}"><span class="{{style_class}}">{{s.label}}</span></li>
	   {% endifnotequal %}
   {% endifequal %}
{% endfor %}
