{% extends "project_two_col_left.html" %}

{% block sidebarleft %}
   <ul>
   {% ifequal section.depth 2 %}
      {% with section as parent %}
         {% include "tobaccocessation_main/level_menu.html" %}
      {% endwith %}
   {% endifequal %}
   
   {% ifequal section.depth 3 %}
      {% with section.get_parent as parent %}
       {% include "tobaccocessation_main/level_menu.html" %}
    {% endwith %}
   {% endifequal %}
   </ul>
{% endblock %}

{% block content %}
	{% if needs_submit %}
	<form action="." method="post">
	{% endif %}
	
	<h2>{{ section.label }}</h2>
	<br />
	{% for block in section.pageblock_set.all %}
		{% if block.label %}<h3>{{block.label}}</h3>{% endif %}
		{{ block.render }}
	{% endfor %}
	
	{% if needs_submit %}
	<input type="submit" value="submit" />
	</form>
	{% endif %}
{% endblock %}

{% block contentnav %}
  {% if section.get_previous %}
    <a href="{{section.get_previous.get_absolute_url}}" id="previous">« {{section.get_previous.label}}</a>
  {% endif %}
  
  {% if section.get_next %}
    <a href="{{section.get_next.get_absolute_url}}" id="next">{{section.get_next.label}} »</a>
  {% endif %}
{% endblock %}