{% extends section.template %}

{% block sidebarleft %}
   <ul>
   {% ifequal section.depth 2 %}
      {% with section as parent %}
         {% include "tobaccocessation_main/level_menu.html" %}
      {% endwith %}
   {% endifequal %}
   
   {% ifequal section.depth 3 %}
      {% with section.get_parent as parent %}
       {% include "tobaccocessation_main/level_menu.html" %}
    {% endwith %}
   {% endifequal %}
 
   {% ifequal section.depth 4 %}
      {% with section.get_parent as parent %}
       {% include "tobaccocessation_main/level_menu.html" %}
    {% endwith %}
   {% endifequal %} 
   </ul>
{% endblock %}

{% block content %}
	<h2>{{ section.label }}</h2>
	<br />
	{% for block in section.pageblock_set.all %}
		{% if block.label %}<h3>{{block.label}}</h3>{% endif %}
		{{ block.render }}
	{% endfor %}
	
{% endblock %}

{% block contentnav %}
  {% with section.get_previous as prev %}
	  {% if prev %}
	    <a href="{{prev.get_absolute_url}}" id="previous">« {{prev.label}}</a>
	  {% endif %}
  {% endwith %}
  	  
  {% with section.get_next as next %}
	  {% if next %}
	    <a href="{{next.get_absolute_url}}" id="next">{{next.label}} »</a>
	  {% endif %}
  {% endwith %}
{% endblock %}