{% extends section.template %}

{% block title %}{{section.label}}{% endblock %}

{% block sidebarleft %}
   {% with "selected" as style_class %}
      {% with leftnav as menu %}
		  <!--    <div class="leftnav_head">section title</div>-->
	<h5>Sections</h5>
	<ul>
			   {% include "tobaccocessation_main/level_menu.html" %}
			</ul><br />
			<h5>Quick References</h5>
			<ul>
<li class="reference">
<a href="http://tobaccocessation.ccnmtl.columbia.edu/main/media/pdf/PharmacotherapyTable.pdf"><img source="" width="10" height="10" /> Pharmacotherapy Table</a>
</li>
</ul>

		{% endwith %}
	{% endwith %}
{% endblock %}

{% block content %}
   {% if not accessible %}
      This page is not currently accessible. Please complete your current section before moving onto a new section.
   {% else %}
		<h2>{{ section.label }}</h2>
		
		{% for block in section.pageblock_set.all %}
			{% if block.label %}<h3>{{block.label}}</h3>{% endif %}
			{{ block.render }}
		{% endfor %}
   {% endif %}		
{% endblock %}

{% block contentnav %}
<table>
<tr>
<td>{% if previous %}
     <a href="{{previous.get_absolute_url}}" id="previous">« {{previous.label}}</a>
  {% endif %}</td><td width="100%" align="center>
  <div id="page_numbering">
  {% ifequal depth 4 %}
     {% with section.get_siblings as siblings %}
        {% with section.get_parent as parent %}
		     {% for sibling in siblings %}
		        {% ifequal sibling section %}
		           {{parent.label}} | Page {{forloop.counter}} of {{siblings|length}}
		        {% endifequal %}
		     {% endfor %}
		  {% endwith %}
	  {% endwith %} 
  {% endifequal %}
  	  </div></td><td>
  {% if next %}
     <!-- added to allow javascript access to the menu links. hack for the js activities enabling/disabling of links -->
     <input type="hidden" id="next_section_slug" name="next_section_slug" value="{{next.slug}}"/>
     <a href="{{next.get_absolute_url}}" id="next">{{next.label}} »</a>
  {% endif %}</td></tr></table>
{% endblock %}