{% extends "base.html" %}

{% block css %}

{% endblock %}

{% block title %}Resources{% endblock %}

{% block standardnav %}
   {% include "project_standard_nav.html" %}
{% endblock %}

{% block primarynavtabs %}
   <ul>
      <li><a href="/welcome/">Welcome</a></li>
      <li class="selected"><span class="selected">Resources</span></li>
      <li><a href="/assist/">Assist</a></li>
   </ul>
{% endblock %}

{% block content %}

	<h2 class="title">Resources</h2>
	
	<h3>Documents</h3>
   <ul class="menu">
      <li><a href="http://{{request.get_host}}/main/media/pdf/PharmacotherapyTable.pdf">Pharmacotherapy table: quick reference guide</a></li>
   </ul>

   <h3 class="title">Videos</h3>
   <div id="flashvideoblock">
	   <OBJECT classid='clsid:D27CDB6E-AE6D-11cf-96B8-444553540000' 
		   codebase='http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,0,0' 
		   width="640"
		   height="560">
		   <param name='movie' value="http://ccnmtl.columbia.edu/remote/media_controllers/jw_media/player.swf">
		   <param name='allowfullscreen' value="true">
		   <param name='bgcolor' value='efc48d'>
		   <param name='allowscriptaccess' value="always">
	      <param name='flashvars' value='skin=http://{{request.get_host}}/main/media/swf/simple.swf&playlistsize=180&playlist=bottom&file=http://ccnmtl.columbia.edu/broadcast/projects/tobacco_cessation/videos/tobacco_cessation_playlist.xml&&frontcolor=FFFFFF&backcolor=333333&lightcolor=eaa141&screencolor=FFFFFF'>
		   <embed src="http://ccnmtl.columbia.edu/remote/media_controllers/jw_media/player.swf"
			   width="640"
			   height="560"
			   bgcolor="efc48d"
			   allowscriptaccess="always"
			   allowfullscreen="true"
			   flashvars="skin=http://{{request.get_host}}/main/media/swf/simple.swf&playlistsize=180&playlist=bottom&file=http://ccnmtl.columbia.edu/broadcast/projects/tobacco_cessation/videos/tobacco_cessation_playlist.xml&&frontcolor=FFFFFF&backcolor=333333&lightcolor=eaa141&screencolor=FFFFFF">
		   </embed>
	   </object>
	</div>
{% endblock %}
